<div id="inicio-page">
    <h6>¡Bienvenido a Asunción 90.7!</h6>
    <p>Gestor de publicidades.</p>
  
    <!-- Barra de búsqueda -->
    <mat-form-field appearance="outline" class="search-bar">
      <mat-label>Buscar una funcionalidad</mat-label>
      <input matInput [(ngModel)]="searchTerm" (input)="filterCards()" placeholder="Ejemplo: Alta Comercio">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  
    <div class="grid-container">
      <ng-container *ngIf="filteredCards.length > 0; else noResults">
        <app-card
          *ngFor="let card of filteredCards"
          [title]="card.title"
          [summary]="card.summary"
          [imagePath]="card.imagePath"
          [options]="card.options"
          [routerLinks]="card.routerLinks"
        ></app-card>
      </ng-container>
    </div>
  
    <!-- Mensaje si no hay resultados -->
    <ng-template #noResults>
      <p class="no-results">No se encontraron coincidencias.</p>
    </ng-template>
  </div>
  