.grid-container {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(clamp(150px, 80vw, 280px), 1fr)
    );
    width: auto;
    max-width: 1000px;
    margin: 0 auto;
    place-items: center;
    gap: 1rem;
  }
  
  .search-bar {
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
    display: block;
  }
  
  .no-results {
    text-align: center;
    font-size: 16px;
    color: #888;
    margin-top: 10px;
  }
  