<h1 *ngIf="crud=='create'" class="text-center">Creaciòn Comercio</h1>
<form *ngIf="crud == 'create'" [formGroup]="formCreate" (ngSubmit)="addTrade()"
  class="flex flex-col items-center justify-center mt-3" (keydown.enter)="$event.preventDefault()">
  <mat-form-field floatLabel="auto" class="w-1/2">
    <mat-label>Nombre fantasía</mat-label>
    <input matInput formControlName="fantasyName">
    <mat-error *ngIf="formCreate.get('fantasyName')?.invalid&&formCreate.get('inputCuit')?.errors?.['required']">*Este campo es obligatorio.</mat-error>
    <mat-error *ngIf="formCreate.get('fantasyName')?.hasError('fantasyNameTaken')">
    * El nombre de fantasía ya está en uso.
  </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="auto" class="w-1/2">
    <mat-label>Dirección</mat-label>
    <input matInput formControlName="address">
    <mat-error *ngIf="formCreate.get('address')?.invalid">*Este campo es obligatorio.</mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="auto" class="w-1/2">
    <mat-label>Tipo facturación</mat-label>
    <mat-select formControlName="billingType">
      <mat-option value="Responsable Inscripto">Responsable Inscripto</mat-option>
      <mat-option value="Monotributo">Monotributo</mat-option>
      <mat-option value="Otro">Otro</mat-option>
    </mat-select>
    <mat-error *ngIf="formCreate.get('billingType')?.invalid">*Este campo es obligatorio.</mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="auto" class="w-1/2">
    <mat-label>Mail</mat-label>
    <input matInput formControlName="mail">
    <mat-error *ngIf="formCreate.get('mail')?.invalid">*Email inválido.</mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="auto" class="w-1/2">
    <mat-label>Forma de pago usual</mat-label>
    <mat-select formControlName="usualPaymentForm">
      <mat-option value="Efectivo">Efectivo</mat-option>
      <mat-option value="Tarjeta de Crédito">Tarjeta de Crédito</mat-option>
      <mat-option value="Tarjeta de Débito">Tarjeta de Débito</mat-option>
      <mat-option value="Cheque">Cheque</mat-option>
      <mat-option value="Otro">Otro</mat-option>
    </mat-select>
    <mat-error *ngIf="formCreate.get('usualPaymentForm')?.invalid">*Este campo es obligatorio.</mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="auto" class="w-1/2">
    <mat-label>Tipo</mat-label>
    <mat-select formControlName="type">
      <mat-option value="Empresa">Empresa</mat-option>
      <mat-option value="PyME">PyME</mat-option>
      <mat-option value="Otro">Otro</mat-option>
    </mat-select>
    <mat-error *ngIf="formCreate.get('type')?.invalid">*Este campo es obligatorio.</mat-error>
  </mat-form-field>

  <div>
    <app-btn-degrade type="submit" [disabled]="formCreate.invalid" [text]="'Continuar'"></app-btn-degrade>
  </div>
</form>