<form [formGroup]="contacts_form">
    <mat-form-field class="example-chip-list" hintLabel="Presione ENTER para cargar el contacto.">
      <mat-label>Contactos (teléfono/email)</mat-label>
      <mat-chip-grid #chipGrid formControlName="contact">
        <mat-chip-row *ngFor="let contact of contacts"
                      (removed)="remove(contact)"
                      [editable]="true"
                      (edited)="edit(contact, $event)"
                      >
          {{contact}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input placeholder="Nuevo contacto..."
               [matChipInputFor]="chipGrid"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)" required>
      </mat-chip-grid>
      <mat-error *ngIf="contacts_form.get('contact')?.invalid && contacts.length===0">* Campo obligatorio</mat-error>
    </mat-form-field>
  </form>
