


@media(width >= 1024px){
  .home {
    background-color: #FDFBFF;
    color: #000000;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 5fr;
    overflow: hidden;
  }

}



#sidebar{
    box-sizing: border-box;
    height: 100vh;
    padding: 5px 1em;
    background-color: #FDFBFF;
    border-right: 1px solid #454545;
    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow-y: auto;
    text-wrap: nowrap;
    position: sticky;
  }

  .main {
    padding: 2rem 3rem;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  }


  #sidebar.close{
    padding: 5px;
    width: 54px;
    min-width: 54px;
    max-width: 54px;
  }
  #sidebar ul{
    list-style: none;
  }
  #sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{
      font-weight: 500;
    }
  }
  #sidebar ul li.active a{
    color: #005CBB;
    background-color: #D7E3F5;
  
    mat-icon{
      fill: #005CBB;
    }
  }
  
  #sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: #454545;
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 13px;
  }
  .dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
  }
  span {
    width: 125px;
  }
  #sidebar mat-icon{
    flex-shrink: 0;
    fill: #454545;
  }
  #sidebar a span, #sidebar .dropdown-btn span{
    flex-grow: 1;
  }
  #sidebar a:hover, #sidebar .dropdown-btn:hover{
    background-color: #EBE9ED;
  }
  #sidebar .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
  
    > div{
      overflow: hidden;
    }
  }
  #sidebar .sub-menu.show{
    grid-template-rows: 1fr;
  }
  .dropdown-btn mat-icon{
    transition: 200ms ease;
  }
  .rotate mat-icon:last-child{
    rotate: 180deg;
  }
  #sidebar .sub-menu a{
    padding-left: 2em;
  }
  #toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
  
    mat-icon{
      transition: rotate 150ms ease;
    }
  }
  #toggle-btn:hover{
    background-color: #EBE9ED;
  }


  

  @media(width < 1024px){

    .main {
      padding-top: 9rem;
      padding-bottom: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;;
    }

    .home {
      background-color: #FDFBFF;
      color: #000000;
      width: 100%;
      height: 100vh;
      display: grid;
      grid-template-rows: 1fr 5fr;
      overflow: hidden;
    }
    

    #sidebar{
      height: 60px;
      width: 100%;
      border-right: none;
      border-top: 1px solid #42434a;
      padding: 0;
      bottom: unset;
      bottom: 0;
      z-index: 100;
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-y: hidden;
  
      > ul{
        padding: 0;
        display: grid;
        grid-auto-columns: 60px;
        grid-auto-flow: column;
        align-items: center;
        overflow-x: scroll;
      }
      ul li{
        height: 100%;
      }
      ul a, ul .dropdown-btn{
        width: 60px;
        height: 60px;
        padding: 0;
        border-radius: 0;
        justify-content: center;
      }
  
      ul li span, ul li:first-child, .dropdown-btn mat-icon:last-child{
        display: none;
      }
  
      ul li .sub-menu.show{
        position: fixed;
        top: 60px;
        left: 0;
        box-sizing: border-box;
        height: 60px;
        width: 100%;
        background-color: #FDFBFF;
        border-bottom: 1px solid #454545;
        border-top: 1px solid #454545;
        display: flex;
        justify-content: center;
  
        > div{
          overflow-x: auto;
        }
        li{
          display: inline-flex;
        }
        a{
          box-sizing: border-box;
          padding: 1em;
          width: auto;
          justify-content: center;
        }
      }
    }
  }