<div class="home">
  <nav id="sidebar" #sidebar>
    <ul>
      <li>
        <span class="logo">90.7 Asunción</span>
        <button (click)="toggleSidebar()" id="toggle-btn" #togglebtn>
          <mat-icon>keyboard_double_arrow_left</mat-icon>
        </button>
      </li>

      <li [class.active]="selectedMenuItem === 'Inicio'">
        <a (click)="setActive('Inicio')" routerLink="/inicio">
          <mat-icon>home</mat-icon>
          <span>Inicio</span>
        </a>
      </li>

      <li *appShowForRoles="['admin','user']">
        <button (click)="toggleSubMenu($event)" class="dropdown-btn">
          <mat-icon>account_circle</mat-icon>
          <span>Perfil</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <ul class="sub-menu">
          <div>
            <li [class.active]="selectedMenuItem === 'Alta Usuario'">
              <a (click)="setActive('Alta Usuario')" routerLink="usuarios/altaUsuario">Alta Usuario</a>
            </li>
            <li [class.active]="selectedMenuItem === 'Editar Usuario'">
              <a (click)="setActive('Editar Usuario')"routerLink="usuarios/edicionUsuario" >Editar Usuario</a>
            </li>
            <li [class.active]="selectedMenuItem === 'Logout'">
                <a (click)="openDialog()">Logout</a>
            </li>
          </div>
        </ul>
      </li>

      <li *appShowForRoles="['admin']" >
        <button (click)="toggleSubMenu($event)" class="dropdown-btn">
          <mat-icon>storefront</mat-icon>
          <span>Comercios</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <ul class="sub-menu">
          <div>
            <li [class.active]="selectedMenuItem === 'Alta Comercio'">
              <a (click)="setActive('Alta Comercio')" routerLink="/comercios/alta-comercio">Alta Comercio</a>
            </li>
            <li [class.active]="selectedMenuItem === 'Listado Comercios'">
              <a (click)="setActive('Listado Comercios')" routerLink="/comercios/listado-comercios">Listado Comercios</a></li>
            <li [class.active]="selectedMenuItem === 'Edición Comercio'">
              <a (click)="setActive('Edición Comercio')" routerLink="/comercios/edicion-comercio">Edición Comercio</a></li>
          </div>
        </ul>
      </li>

      <li *appShowForRoles="['admin']" >
        <button (click)="toggleSubMenu($event)" class="dropdown-btn">
          <mat-icon>gavel</mat-icon>
          <span>Contrataciones</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <ul class="sub-menu">
          <div>
            <li [class.active]="selectedMenuItem === 'Alta Contratación'">
              <a (click)="setActive('Alta Contratación')" routerLink="/contrataciones/alta-contratacion">Alta Contratación</a></li>
            <li [class.active]="selectedMenuItem === 'Edición Contratación'">
              <a (click)="setActive('Edición Contratación')" routerLink="/contrataciones/edicion-contratacion">Edición Contratación</a></li>
          </div>
        </ul>
      </li>

      <li *appShowForRoles="['admin']" >
        <button (click)="toggleSubMenu($event)" class="dropdown-btn">
          <mat-icon>payments</mat-icon>
          <span>Pagos</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <ul class="sub-menu">
          <div>
            <li [class.active]="selectedMenuItem === 'Registro Pago'">
              <a (click)="setActive('Registro Pago')" routerLink="/pagos/registro-pago">Registro Pago</a></li>
            <li [class.active]="selectedMenuItem === 'Informe Falta Pago'">
              <a (click)="setActive('Informe Falta Pago')" routerLink="/pagos/informe-falta-pago">Informe Falta Pago</a></li>
          </div>
        </ul>
      </li>

      <li *appShowForRoles="['admin','user']">
        <button (click)="toggleSubMenu($event)" class="dropdown-btn">
          <mat-icon>campaign</mat-icon>
          <span>Publicidades</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <ul class="sub-menu">
          <div>
            <li *appShowForRoles="['admin']" [class.active]="selectedMenuItem === 'Emisión Órdenes'">
              <a (click)="setActive('Emisión Órdenes')" routerLink="/publicidades/emision-ordenes">Emisión Órdenes</a></li>
            <li *appShowForRoles="['admin','user']" [class.active]="selectedMenuItem === 'Listado Publicitario'">
              <a (click)="setActive('Listado Publicitario')" routerLink="/publicidades/listado-publicitario">Listado Publicitario</a></li>
            <li *appShowForRoles="['admin']" [class.active]="selectedMenuItem === 'Edición Spot'">
              <a (click)="setActive('Edición Spot')" routerLink="/publicidades/edicion-spot">Edición Spot</a></li>
          </div>
        </ul>
      </li>

      <li *appShowForRoles="['admin']">
        <button (click)="toggleSubMenu($event)" class="dropdown-btn">
          <mat-icon>grid_view</mat-icon>
          <span>Bloques</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <ul class="sub-menu">
          <div>
            <li [class.active]="selectedMenuItem === 'Listado Bloques'">
              <a (click)="setActive('Listado Bloques')" routerLink="/bloques/listado-bloques">Listado Bloques</a></li>
            <li [class.active]="selectedMenuItem === 'Edición Bloque'">
              <a (click)="setActive('Edición Bloque')" routerLink="/bloques/edicion-bloque">Edición Bloque</a></li>
          </div>
        </ul>
      </li>

      <li *appShowForRoles="['admin']">
        <button (click)="toggleSubMenu($event)" class="dropdown-btn">
          <mat-icon>groups</mat-icon>
          <span>Titulares</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <ul class="sub-menu">
          <div>
            <li [class.active]="selectedMenuItem === 'Alta Titular'">
              <a (click)="setActive('Alta Titular')" routerLink="/titulares/alta-titular">Alta Titular</a></li>
            <li [class.active]="selectedMenuItem === 'Consulta Titular'">
              <a (click)="setActive('Consulta Titular')" routerLink="/titulares/consulta-titular">Consulta Titular</a></li>
            <li [class.active]="selectedMenuItem === 'Edición Titular'">
              <a (click)="setActive('Edición Titular')" routerLink="/titulares/edicion-titular">Edición Titular</a></li>
            <li [class.active]="selectedMenuItem === 'Baja Titular'">
              <a (click)="setActive('Baja Titular')" routerLink="/titulares/baja-titular">Baja Titular</a></li>
          </div>
        </ul>
      </li>

      <li *appShowForRoles="['admin']">
        <button (click)="toggleSubMenu($event)" class="dropdown-btn">
          <mat-icon>call</mat-icon>
          <span>Contactos</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <ul class="sub-menu">
          <div>
            <li [class.active]="selectedMenuItem === 'Alta Contacto'">
              <a (click)="setActive('Alta Contacto')" routerLink="/contactos/alta-contacto">Alta Contacto</a></li>
            <li [class.active]="selectedMenuItem === 'Consulta Contacto'">
              <a (click)="setActive('Consulta Contacto')" routerLink="/contactos/consulta-contacto">Consulta Contacto</a></li>
            <li [class.active]="selectedMenuItem === 'Edición Contacto'">
              <a (click)="setActive('Edición Contacto')" routerLink="/contactos/edicion-contacto">Edición Contacto</a></li>
            <li [class.active]="selectedMenuItem === 'Baja Contacto'">
              <a (click)="setActive('Baja Contacto')" routerLink="/contactos/baja-contacto">Baja Contacto</a></li>
          </div>
        </ul>
      </li>
    </ul>
  </nav>

  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>

