<div id="listado-comercios">
  <div id="datos-titular">
    <app-title-and-subtitle
      [title]="'Datos del Titular'"
      [subtitle]="'Ingrese el CUIT de un Titular.'"
    ></app-title-and-subtitle>

      <form [formGroup]="owner_form">
        <div class="flex-container">
          <fieldset>
            <app-input-field
              label="CUIT Titular"
              placeholder="Ejemplo: 25444505879"
              type="text"
              [hintLabel]="'11 dígitos'"
              [control]="cuitControl"
              [validations]="{
                required: true,
                minLength: 11,
                maxLength: 11,
                pattern: '^[0-9]*$'
              }"
              [mode]="'input'"
              tooltipText="La Clave Única de Identificación Tributaria (CUIT) es un código de 11 dígitos que identifica a las personas físicas o jurídicas que tributan en Argentina."
            ></app-input-field>
          </fieldset>

          <span matTooltip="Ingrese un CUIT válido." [matTooltipDisabled]="!cuitControl.invalid" [matTooltipPosition]="'right'">
          <button
            mat-raised-button
            color="primary"
            [disabled]="cuitControl.invalid"
            (click)="findOwner()"
          >
            Check
          </button>
        </span>

          @if (errorMessageOwner) {
          <button mat-button color="warn">
            <mat-icon fontIcon="close"></mat-icon>
            {{ errorMessageOwner }}
          </button>
          } @else if (ownerFounded) {
          <button mat-button color="accent">
            <mat-icon fontIcon="check"></mat-icon>
            Titular existente.
          </button>
          }
        </div>
      </form>
  </div>

  <div id="datos-comercios" class="mt-4">
    <app-data-table *ngIf="shops.length > 0 && ownerFounded"
      [shops]="shops"
      [columns]="[
        { key: 'fantasyName', label: 'Nombre fantasía' },
        { key: 'address', label: 'Dirección' },
        { key: 'billingType', label: 'Tipo facturación' },
        { key: 'mail', label: 'Email', type: 'email' },
        { key: 'usualPaymentForm', label: 'Forma pago' },
        { key: 'type', label: 'Tipo', type: 'badge' }
      ]"
    >
    </app-data-table>
  </div>
</div>
