.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    width: auto;
    max-width: 790px;
    gap: 1rem;
  }
  
  @media(width <= 584px) {
    .grid-container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }