<section id="titular">
    <div class="m-5">
        <b class="text-lg">TITULAR</b>
    </div>
    <div class="m-4 flex flex-row items-center justify-left">
    
        <div class="inline-block ml-4 mr-4">
            <p class="text-3xs ml-10 text-left">CUIT</p>
            <mat-form-field class="-mt-2 " appearance="outline">
                <input matInput [value]="cuit" readonly>
            </mat-form-field>
        </div>
    
        <div class="inline-block ml-4 mr-4">
            <p class="text-3xs ml-10 text-left">RAZON SOCIAL</p>
            <mat-form-field class="-mt-2" appearance="outline">
                <input matInput [value]="razonSocial" readonly>
            </mat-form-field>
        </div>
    
        <div class="inline-block ml-4 mr-4">
          <p class="text-3xs ml-10 text-left">CONDICION FISCAL</p>
          <mat-form-field class="-mt-2" appearance="outline">
              <input matInput [value]="condicionFinal" readonly>
          </mat-form-field>
      </div>


    </div>
</section>


<div class="m-5">
  <app-btn-degrade [text]="'Nuevo Comercio'" (click)="showNewTrade()"></app-btn-degrade>
</div>


<div id="table">
  <div class="p-5 h-screen">

    <div class="m-5 text-center md:text-left">
      <b class="text-lg">COMERCIOS DEL TITULAR</b>
    </div>    

    <mat-form-field id="filtro">
      <mat-label>Filtrar</mat-label>
      <input matInput [(ngModel)]="inputfilter" (input)="filterTable()">
    </mat-form-field>

      <div class="overflow-auto rounded-lg shadow hidden md:block">
          <table class="w-full" *ngIf="trades.length > 0">
              <thead class="bg-gray-200 border-b-2 border-gray-200">
                  <tr>
                    <th (click)="sortColumn('fantasyName')" class="w-40 p-3 text-sm front-semibold tracking-wide text-left cursor-pointer">
                      Nombre fantasía
                      <button *ngIf="sortColumnKey === 'fantasyName'" class="absolute text-gray-700">
                          <mat-icon class="text-sm font-bold">{{ sortOrder === 'asc' ? 'north' : 'south' }}</mat-icon>
                      </button>
                    </th>

                    <th (click)="sortColumn('address')" class="w-24 p-3 text-sm front-semibold tracking-wide text-left cursor-pointer">
                      Dirección
                      <button *ngIf="sortColumnKey === 'address'" class="absolute text-gray-700">
                          <mat-icon class="text-sm font-bold">{{ sortOrder === 'asc' ? 'north' : 'south' }}</mat-icon>
                      </button>
                    </th>

                    <th (click)="sortColumn('billingType')" class="w-32 p-3 text-sm front-semibold tracking-wide text-left cursor-pointer">
                      Tipo Facturación
                      <button *ngIf="sortColumnKey === 'billingType'" class="absolute text-gray-700">
                          <mat-icon class="text-sm font-bold">{{ sortOrder === 'asc' ? 'north' : 'south' }}</mat-icon>
                      </button>
                    </th>

                    <th (click)="sortColumn('mail')" class="w-40 p-3 text-sm front-semibold tracking-wide text-left cursor-pointer">
                      Email
                      <button *ngIf="sortColumnKey === 'mail'" class="absolute text-gray-700">
                          <mat-icon class="text-sm font-bold">{{ sortOrder === 'asc' ? 'north' : 'south' }}</mat-icon>
                      </button>
                    </th>

                    <th (click)="sortColumn('usualPaymentForm')" class="w-24 p-3 text-sm front-semibold tracking-wide text-left cursor-pointer">
                      Forma Pago
                      <button *ngIf="sortColumnKey === 'usualPaymentForm'" class="absolute text-gray-700">
                          <mat-icon class="text-sm font-bold">{{ sortOrder === 'asc' ? 'north' : 'south' }}</mat-icon>
                      </button>
                    </th>

                    <th (click)="sortColumn('type')" class="w-24 p-3 text-sm front-semibold tracking-wide text-left cursor-pointer">
                      Tipo
                      <button *ngIf="sortColumnKey === 'type'" class="absolute text-gray-700">
                          <mat-icon class="text-sm font-bold">{{ sortOrder === 'asc' ? 'north' : 'south' }}</mat-icon>
                      </button>
                    </th>

                  </tr>
              </thead>
  
              <tbody class="divide-y divide-gray-100">
                  <tr *ngFor="let trade of trades" class="bg-white">
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{trade.fantasyName}}</td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{trade.address}}</td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{trade.billingType}}</td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                      <a href="#" class="font-bold text-blue-500 hover:underline">{{trade.mail}}</a>
                    </td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{trade.usualPaymentForm}}</td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                      <span [ngClass]="{
                        'bg-yellow-200 text-yellow-800': trade.type === 'Empresa',
                        'bg-green-200 text-green-800': trade.type === 'PyME',
                        'bg-gray-200 text-gray-800': trade.type === 'Otro'
                      }" 
                      class="p-1.5 text-xs font-medium uppercase tracking-wider rounded-lg bg-opacity-50">
                      {{trade.type}}</span>
                    </td>
                  </tr>
              </tbody>

          </table>
      </div>

      <div *ngIf="trades.length > 0" class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:hidden">
        <div id="tarjetas" *ngFor="let trade of trades" class="bg-white space-y-2 p-4 rounded-lg shadow relative">

          <div class="flex items-center space-x-2 text-sm">
            <div>
              <a href="#" class="text-blue font-bold hover:underline">{{trade.fantasyName}}</a>
            </div>
            <div class="text-gray-500">{{trade.address}}</div>
            <div>
              <span [ngClass]="{
                'bg-yellow-200 text-yellow-800': trade.type === 'Empresa',
                'bg-green-200 text-green-800': trade.type === 'PyME',
                'bg-gray-200 text-gray-800': trade.type === 'Otro'
              }" class="p-1.5 text-xs font-medium uppercase tracking-wider rounded-lg bg-opacity-50">
              {{trade.type}}</span>
            </div>
          </div>
      
          <div *ngIf="visibleContent[trade.fantasyName] || band " class="text-sm text-gray-700">
            <a href="#" class="font-bold text-blue-500 hover:underline">{{trade.mail}}</a>
          </div>
      
          <div *ngIf="visibleContent[trade.fantasyName] || band" class="text-sm text-gray-700">
            {{trade.billingType}}
          </div>

          <div *ngIf="visibleContent[trade.fantasyName] || band" class="text-sm font-medium text-black">
            {{trade.usualPaymentForm}}
          </div>
      
          <button
            id="flechita"
            *ngIf="isScreenSmall()"
            (click)="toggleCardContent(trade)"
            class="absolute top-0 right-0 p-2 focus:outline-none group"
            [@rotateArrow]="visibleContent[trade.fantasyName] ? 'up' : 'down'"
          >
            <mat-icon class="text-gray-500">expand_more</mat-icon>
          </button>


          
          

        </div>
      </div>
      
  </div>
</div>

<form class="mt-3" [formGroup]="tradeForm" (ngSubmit)="verifyNameFantasy()">
  <section id="nuevoComercio" *ngIf="mostrarNuevoComercio">

    <div class="m-5">
        <b class="text-lg">NUEVO COMERCIO</b>
    </div>
  
    <div class="inline-block ml-4 mr-4">
      <div>
        <mat-form-field [color]="coloring">
          <mat-label>Nombre fantasia</mat-label>
            <div>
              <input matInput #nombreFantasiaInput formControlName="fantasyName">
            </div>
          </mat-form-field>
      </div>
      <div *ngIf="nombreFantasiaInvalid" class="text-red-600 text-xs -mt-4 mb-3" color="warn" [innerHTML]="message">{{message}}</div>
      
      <div>
        <mat-form-field [color]="coloring">
          <mat-label>Direccion</mat-label>
            <div>
              <input matInput formControlName="address">
            </div>
            <mat-error *ngIf="tradeForm.get('address')?.invalid">{{alertUser()}}</mat-error>
          </mat-form-field>
      </div>
  
      <div>
        <mat-form-field [color]="coloring">
          <mat-label>Tipo facturación</mat-label>
          <mat-select formControlName="billingType">
            <mat-option value="Responsable Inscripto">Responsable Inscripto</mat-option>
            <mat-option value="Monotributo">Monotributo</mat-option>
            <mat-option value="Otro">Otro</mat-option>
          </mat-select>
          <mat-error *ngIf="tradeForm.get('billingType')?.invalid">{{alertUser()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field [color]="coloring">
          <mat-label>Mail</mat-label>
            <div>
              <input matInput formControlName="mail">
            </div>
            <mat-error *ngIf="tradeForm.get('mail')?.invalid">{{getMailErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field [color]="coloring">
          <mat-label>Forma de pago usual</mat-label>
          <mat-select formControlName="usualPaymentForm">
            <mat-option value="Efectivo">Efectivo</mat-option>
            <mat-option value="Tarjeta de Crédito">Tarjeta de Crédito</mat-option>
            <mat-option value="Tarjeta de Débito">Tarjeta de Débito</mat-option>
            <mat-option value="Cheque">Cheque</mat-option>
            <mat-option value="Otro">Otro</mat-option>
          </mat-select>
          <mat-error *ngIf="tradeForm.get('usualPaymentForm')?.invalid">{{alertUser()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field [color]="coloring">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="type">
            <mat-option value="Empresa">Empresa</mat-option>
            <mat-option value="PyME">PyME</mat-option>
            <mat-option value="Otro">Otro</mat-option>
          </mat-select>
          <mat-error *ngIf="tradeForm.get('type')?.invalid">{{alertUser()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div>
        <app-btn-degrade type="submit" [disabled]="tradeForm.invalid" [text]="'Continuar'"></app-btn-degrade>
      </div>
  
    </div>
  </section>
</form>

<section id="comercio" *ngIf="continuarNuevoComercio">
  <div class="m-5">
      <b class="text-lg">CONTACTO</b>
  </div>
  <div class="m-4 flex flex-row items-center justify-left">
  
      <div class="inline-block ml-4 mr-4">
          <p class="text-3xs ml-10 text-left">NOMBRE</p>
          <mat-form-field class="-mt-2 " appearance="outline">
              <input matInput>
          </mat-form-field>
      </div>
  
      <div class="inline-block ml-4 mr-4">
          <p class="text-3xs ml-10 text-left">APELLIDO</p>
          <mat-form-field class="-mt-2" appearance="outline">
              <input matInput>
          </mat-form-field>
      </div>
  
      <div class="inline-block ml-4 mr-4">
        <p class="text-3xs ml-10 text-left">DNI</p>
        <mat-form-field class="-mt-2" appearance="outline">
            <input matInput>
        </mat-form-field>
    </div>
  </div>
  <div class="m-4 flex flex-row items-center justify-left">
  
    <div class="inline-block ml-4 mr-4">
        <p class="text-3xs ml-10 text-left">TELEFONO</p>
        <mat-form-field class="-mt-2 " appearance="outline">
            <input matInput>
        </mat-form-field>
    </div>

    <div class="inline-block ml-4 mr-4">
        <p class="text-3xs ml-10 text-left">MAIL</p>
        <mat-form-field class="-mt-2" appearance="outline">
            <input matInput>
        </mat-form-field>
    </div>

    

</div>
</section>
