<div id="baja-contacto-category">
  <div id="datos-contacto">
    <app-title-and-subtitle
      [title]="'Datos del Contacto'"
      [subtitle]="'Ingrese el DNI del Contacto.'"
    ></app-title-and-subtitle>

    <form [formGroup]="dni_form">
      <div class="flex-container">
        <fieldset>
          <app-input-field
            label="DNI Contacto"
            placeholder="Ejemplo: 44450587"
            type="text"
            [hintLabel]="'8 dígitos'"
            [control]="dniControl"
            [validations]="{
              required: true,
              minLength: 8,
              maxLength: 8,
              pattern: '^[0-9]*$'
            }"
            [mode]="'input'"
          ></app-input-field>
        </fieldset>
        

        <button
          mat-raised-button
          color="primary"
          [disabled]="dni_form.invalid"
          (click)="findContact()"
        >
          Check
        </button>

      </div>
      

      <div class="flex-container">
        <app-datos-asociados
          [datos]="[
            { atributo: 'Nombre', valor: name },
            { atributo: 'Apellido', valor: lastname },
            { atributo: 'Contactos', valor: contacts }
          ]"
          [formularioValido]="contactFounded"
          [cargando]="cargando"
        >
        </app-datos-asociados>

        @if (errorMessage) {
        <button mat-button color="warn" class="pointer-events-none">
          <mat-icon fontIcon="close"></mat-icon>
          {{ errorMessage }}
        </button>
        } @else if (contactFounded) {
        <button mat-button color="accent" class="pointer-events-none">
          <mat-icon fontIcon="check"></mat-icon>
          Contacto existente.
        </button>
        }
      </div>
    </form>


    <button class="btn-eliminar" mat-flat-button color="warn" 
      [disabled]="!contactFounded || dni_form.invalid" (click)="openDialog()">
      Eliminar Contacto
    </button>

  </div>
</div>