<div class="row">
  <mat-icon *ngIf="icon" class="input-icon">{{ icon }}</mat-icon>

  @if (mode === 'input') {
    <div class="tooltip-container">
    <mat-form-field class="w-full" [hintLabel]="hintLabel" appearance="outline">
      <mat-label>{{ label }}</mat-label>

      <input
        matInput
        #input
        [type]="inputType"
        [placeholder]="placeholder"
        [maxlength]="maxlength"
        [formControl]="control"
  
        
      />
      <!-- [(ngModel)]="value" -->
      <mat-icon
        *ngIf="value && type !== 'password'"
        mat-icon-button
        matSuffix
        aria-hidden="false"
        aria-label="Clear input value"
        (click)="value = ''"
        >close</mat-icon
      >

      <mat-icon
        *ngIf="type === 'password'"
        mat-icon-button
        matSuffix
        aria-hidden="false"
        aria-label="Toggle password visibility"
        (click)="togglePasswordVisibility()"
        >{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon
      >

      <mat-hint *ngIf="maxlength" align="end">{{input.value.length}}/{{maxlength}}</mat-hint>
      <mat-error *ngIf="control.invalid && control.touched">
        {{ getErrorMessage() }}
      </mat-error>
    </mat-form-field>

    <mat-icon *ngIf="tooltipText" [matTooltip]="tooltipText" [matTooltipPosition]="'above'" class="tooltip-icon">
      help
    </mat-icon>
  </div>

  } @else if (mode === 'select') {
    <div class="tooltip-container">
    <mat-form-field class="w-full">
      <mat-label>{{ label }}</mat-label>
      <mat-select [formControl]="control">
    <mat-option [value]="null">Ninguno</mat-option>

    @for (option of options; track $index) {
      <mat-option [value]="option">
        {{ option }}
      </mat-option>
    } 

  </mat-select>
      
      <mat-error *ngIf="control.hasError('required')">
        * Campo obligatorio
      </mat-error>
    </mat-form-field>
    <mat-icon *ngIf="tooltipText" [matTooltip]="tooltipText" [matTooltipPosition]="'above'" class="tooltip-icon">
      help
    </mat-icon>
  </div>
  }

  @else if (mode === 'date') {

    <mat-form-field class="w-full">
      <mat-label>{{ label }}</mat-label>
      <input 
        matInput 
        [matDatepicker]="picker" 
        [formControl]="control"
        [readonly]="true">
      <mat-hint>MM/DD/YYYY</mat-hint>

      <mat-icon class="clear-icon" *ngIf="control.value" mat-icon-button matSuffix (click)="clearDate()">
        close
      </mat-icon>
    
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    
      <mat-error *ngIf="control.invalid && control.touched">
        {{ getErrorMessage() }}
      </mat-error>
    </mat-form-field>
    
    
    
  }
</div>