.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    button {
        width: auto;
        margin-bottom: 20px;
    }
}

.flex-container button {
    width: auto;
    margin-bottom: 20px;
}

@media(width <= 584px) {
    .flex-container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }


.datos-asociados {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}


.btn-eliminar {
    margin: 1rem 0;
}

@media(width <= 584px) {
    .btn-eliminar {
        margin: 1rem auto;
        display: flex;
        flex-direction: row;
    }
}