<h1 class="text-center">Nuevo Contrato</h1>

<div class="flex flex-col items-center justify-center">

  <mat-form-field hideRequiredMarker class="w-1/2" [color]="coloring">

    <mat-label>CUIT del Titular</mat-label>
    <input matInput maxlength="11" (input)="getHolder()" required name="cuit" [(ngModel)]="cuit"
      #inputCuit="ngModel" (keydown.enter)="focusNext(inputBlock)">
    <div class="asterisk">*</div>
    <mat-error *ngIf="!holder && inputCuit.touched">* Requerido</mat-error>
    <mat-hint *ngIf="!holder && inputCuit.touched" [ngStyle]="{'color': 'red'}">* Ingrese un titular
      registrado</mat-hint>
  </mat-form-field>
  <div class="text-xs -mt-4 mb-3 ml-8" color="warn" *ngIf="holder">
    <p>Nombre: {{holder.businessName}}</p>
  </div>

  <mat-form-field hideRequiredMarker class="w-1/2" [color]="coloring">
    <mat-label>Nombre del Comercio</mat-label>
    <mat-select hideRequiredMarker required [(ngModel)]="business" name="selectedValue" [disabled]="!holder"
      #inputBlock (selectionChange)="focusNext(inputStartDate)">
      <mat-option hideRequiredMarker *ngFor="let b of businesses" [value]="b">{{b.fantasyName}}</mat-option>
    </mat-select>
    <div class="asterisk">*</div>
    <mat-error>* Requerido</mat-error>
  </mat-form-field>
  <div class="text-xs -mt-4 mb-3 ml-8" color="warn" *ngIf="business">
    <p>Dirección: {{business.address}}</p>
    <p>Email: {{business.mail}}</p>
  </div>
  <mat-form-field hideRequiredMarker class="w-1/2" [color]="coloring">
    <mat-label>Fecha de Inicio</mat-label>
    <input type="date" matInput placeholder="Fecha Inicio" required name="startDate" [(ngModel)]="startDate"
      #inputStartDate="ngModel">
    <div class="asterisk">*</div>
    <mat-error>* Requerido</mat-error>
    <mat-hint *ngIf="!startDateValid() && inputStartDate.touched" [ngStyle]="{'color': 'red'}">* Ingrese una fecha mayor
      a la actual</mat-hint>
  </mat-form-field>

  <mat-form-field hideRequiredMarker class="w-1/2" [color]="coloring">
    <mat-label>Fecha de Finalización</mat-label>
    <input type="date" matInput placeholder="Fecha Fin" name="endDate" [(ngModel)]="endDate" #inputEndDate="ngModel">
    <mat-error>* Requerido</mat-error>
    <mat-hint *ngIf="!endDateValid() && inputEndDate.touched" [ngStyle]="{'color': 'red'}">* Ingrese una fecha mayor a
      la de inicio</mat-hint>
  </mat-form-field>

  <mat-form-field hideRequiredMarker class="w-1/2" [color]="coloring">
    <mat-label>Observaciones</mat-label>
    <input matInput placeholder="Obs." name="notes" [(ngModel)]="notes" #inputNotes>
  </mat-form-field>

  <div class="text-red-600 text-xs -mt-4 mb-3 ml-8" color="warn" *ngIf="invalid">
    * Por favor, ingrese un CUIT de un titular, un nombre de comercio y fechas válidas.
  </div>

  <div>
    <button mat-raised-button routerLink="/">Cancelar</button>
    <span style="margin-left: 10px;"></span>
    <app-btn-degrade [disabled]="isCreateContractDisabled()"> </app-btn-degrade>
  </div>

</div>