<h1 class="text-center ">Nuevo contrato</h1>

<form class="flex flex-col items-center justify-center">

  <mat-form-field hideRequiredMarker floatLabel="always" class="w-1/2" [color]="coloring">
    <mat-label>Cuit Titular</mat-label>
    <!--  PEDIR AYUDAAAAAAA appearance="outline"-->
    <input matInput placeholder="Cuit" required name="cuit" [(ngModel)]="cuit" #inputCuit>
  </mat-form-field>
  <mat-form-field hideRequiredMarker floatLabel="always" class="w-1/2" [color]="coloring">
    <mat-label>Nombre del Comercio</mat-label>
    <!--  PEDIR AYUDAAAAAAA appearance="outline"-->
    <input matInput placeholder="Nombre" required name="nombre" [(ngModel)]="nombre" #inputNombre>
  </mat-form-field>
  <mat-form-field hideRequiredMarker floatLabel="always" class="w-1/2" [color]="coloring">
    <mat-label>Fecha de  Inicico</mat-label>
    <!--  PEDIR AYUDAAAAAAA appearance="outline"-->
    <input type="date" matInput placeholder="Fecha Inicico" required name="fechaI" [(ngModel)]="fechaIn" #inputFI>
  </mat-form-field>
  <mat-form-field hideRequiredMarker floatLabel="always" class="w-1/2" [color]="coloring">
    <mat-label>Fecha de Fenalización(Opcional)</mat-label>
    <!--  PEDIR AYUDAAAAAAA appearance="outline"-->
    <input type="date" matInput placeholder="Fecha Fin" required name="fechaF" [(ngModel)]="fechaFin" #inputFF>
  </mat-form-field>
  <div class="text-red-600 text-xs -mt-4 mb-3 ml-8" color="warn" *ngIf="inValido">
    *Por favor,ingrese u cuit de un titular, un nombre de comercio y fechas validas.
  </div>
  <div>
    <button mat-raised-button (click)="redirectToHome()">Cancelar</button>
    <span style="margin-left: 10px;"></span>
    <app-btn-degrade [disabled]="isCreateContracDisabled()" > </app-btn-degrade>
  </div>

</form>