<body>
  <div class="wrapper">
    <form
      [formGroup]="login_form"
      class="flex flex-col items-center justify-center"
      (submit)="login()"
    >
      <div>
        <h2 id="title">Login</h2>
      </div>

      <fieldset>
        <div class="row -mb-2">
          <app-input-field
            icon="person"
            label="Usuario"
            placeholder="Ingrese su usuario"
            type="text"
            [control]="usernameControl"
            [validations]="{ required: true}"
          >
          </app-input-field>
        </div>
      </fieldset>

      <fieldset>
        <div class="row -mb-2">
          <app-input-field
            icon="lock"
            label="Contraseña"
            placeholder="Ingrese su contraseña"
            type="password"
            [control]="passwordControl"
            [validations]="{ required: true}"
          >
          </app-input-field>
        </div>
      </fieldset>

      <div class="forgot">
        <a href="#" class="coloring">¿Olvidaste tu contraseña?</a>
      </div>

      <div mat-dialog-actions>
        <app-btn-degrade
          [text]="'Iniciar Sesión'"
          [disabled]="login_form.invalid"
        ></app-btn-degrade>
      </div>

      <div class="register-link">
        <p>¿No tienes una cuenta?<a class="ml-2" href="#">Regístrate</a></p>
      </div>
    </form>
  </div>
</body>
