body {
  margin: 0 auto;
  position: relative;
  zoom: 1;
  display: flex;
}

.wrapper {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  margin: auto;
  padding: 0 0 14px 0;
  width: 396px;
  display: block;
}

#title {
  margin: 20px;
  font-weight: bold;
  font-size: 200%;
}

.row {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
  margin-bottom: 20px;
}

.forgot {
  margin-top: -5px;
  margin-bottom: 15px;
}

.forgot a {
  text-decoration: none;
}

.forgot a:hover{
  text-decoration: underline;
}

.register-link {
  margin-top: 15px;
  text-align: center;
}

.register-link p a {
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.coloring-deg {
  background: #8400FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #673AB7, #8400FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #673AB7, #8400FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-weight: 500;
}
