<div class="wrapper">
    <h1 id="title">Login</h1>
    <div mat-dialog-content class="flex flex-col items-center justify-center">
        <div class="row">
            <mat-icon class="icon">person</mat-icon>
            <mat-form-field appearance="outline">
                <input matInput type="text" placeholder="Username" required>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-icon class="icon">lock</mat-icon>
            <mat-form-field appearance="outline">
                <input matInput type="password" placeholder="Password" required>
            </mat-form-field>
        </div>

        <div class="forgot">
            <a href="#">Forgot password?</a>
        </div>
        
    </div>
    <div mat-dialog-actions class="mat-dialog-actions">
        <button mat-raised-button>Cancel</button>
        <button mat-raised-button color="primary">Login</button>
    </div>
    <div class="register-link"> <!--no se pq al usar <p> dentro de un <div>, el texto se subraya-->
        <p>Don't have an account? <a
            href="#">Register</a></p>
    </div>
</div>