/*.wrapper {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  border: 2px solid #000;
  justify-content: center;
  align-items: center;
}*/

#title {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  font-weight: bold;
  font-size: 200%;
}

.row {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.mat-dialog-actions button {
  margin: 0 7px;
}

div p {
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.forgot {
  margin-top: -5px;
  margin-bottom: 15px;
}

.forgot a {
  text-decoration: none;
}

.forgot a:hover{
  text-decoration: underline;
}

.register-link {
  margin-top: 15px;
  text-align: center;
}

.register-link p a {
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}