<div class="p-5 h-screen">
    <div class="mb-2 text-center md:text-left">
      <b class="text-lg">{{ title }}</b>
    </div>    
  
    <div class="overflow-auto rounded-lg shadow hidden md:block">
      <table class="w-full">
        <thead class="bg-gray-400 border-b-2 border-gray-400">
          <tr>
            <td [attr.colspan]="columns.length + 2" class="p-3 text-sm">
              <div class="flex items-center">
                <div class="bg-gray-100 p-2 rounded-md flex" style="min-width: 100px;">
                  <mat-icon class="mr-2">search</mat-icon>
                  <input
                    [(ngModel)]="filterText"
                    (input)="filterTable()"
                    [disabled]="data.length === 0"
                    class="w-48 bg-gray-100 outline-none"
                    placeholder="Buscar"/>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th class="w-10 p-3 text-sm font-semibold tracking-wide text-left">#</th>
            <th *ngFor="let col of columns" 
                class="w-40 p-3 text-sm font-semibold tracking-wide text-left cursor-pointer"
                (click)="sortColumn(col.key)">
              {{ col.label }}
              <mat-icon *ngIf="sortedColumn === col.key" class="ml-1">
                {{ sortOrder === 'asc' ? 'north' : 'south' }}
              </mat-icon>
            </th>
            <th class="w-10 p-3 text-sm font-semibold tracking-wide text-left"></th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-100">
          <ng-container *ngIf="filteredData.length > 0; else noDataTemplate">
            <tr *ngFor="let row of filteredData; let i = index" [class.bg-gray-100]="i % 2 === 0">
              <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ i + 1 }}</td>
              <td *ngFor="let col of columns" class="p-3 text-sm text-gray-700 whitespace-nowrap">
                <ng-container [ngSwitch]="col.type">
                  <a *ngSwitchCase="'email'" href="mailto:{{ row[col.key] }}" class="font-bold text-blue-500 hover:underline">
                    {{ row[col.key] }}
                  </a>
                  <span *ngSwitchCase="'badge'" 
                        [ngClass]="getBadgeClass(row[col.key])"
                        class="p-1.5 text-xs font-medium uppercase tracking-wider rounded-lg bg-opacity-50">
                    {{ row[col.key] }}
                  </span>
                  <span *ngSwitchDefault>{{ row[col.key] }}</span>
                </ng-container>
              </td>
              <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                <button mat-icon-button color="primary">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteRow(row)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  
    <ng-template #noDataTemplate>
      <tr class="bg-white">
        <td [attr.colspan]="columns.length + 2"  class="p-3 text-sm text-gray-700 whitespace-nowrap">
          {{ noDataMessage }}
        </td>
      </tr>
    </ng-template>
  </div>
  