
.cambios {
    padding: 5px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dialog {
    width: 560px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 2px 12px;
    
}

.icon-column {
    padding: 2px 3px;
    text-align: center;
}
th {
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-weight: 400;
}
.label {
    color: #005CBB;
    text-decoration: none;
    text-align: left;
}
.icon {
    color: gray;
    font-size: 20px;
    margin-top: 8px;
}


.atribute-name {
    font-weight: lighter;
    text-align: center;
}

.atribute-new {
    font-weight: bold;
    text-align: center;
}


.title {
    padding: 0px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title mat-icon {
    margin-bottom: -3px;
}

.title h2 {
    padding: 0px;
    margin: 0px;
    font-weight: 400;
}



@media(max-width: 584px) {
    mat-dialog-actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .dialog {
        width: 95%; /* Más flexible en pantallas muy pequeñas */
        min-width: 260px;
        padding: 10px;
    }

    mat-dialog-actions button {
        width: 100%;
    }

    .title h2 {
        font-size: 1em;
    }

    .title mat-icon {
        font-size: 1em;
        margin-right: -10px;
        margin-bottom: -10px;
    }
}


@media (max-width: 400px) {
    td, tr {
        padding: 2px 2px;
        font-size: 10px;
        word-spacing: 2px; /* Ajusta la separación entre palabras */
    }
}


