<section id="alta-comercio-category">
  <div id="datos-titular">
      <form [formGroup]="cuit_form">
        <div class="flex-container">
          <fieldset>
            <app-input-field
              label="CUIT Titular"
              placeholder="Ejemplo: 25444505879"
              type="text"
              [hintLabel]="'11 dígitos'"
              [control]="cuitControl"
              [validations]="{
                required: true,
                verifyCuit: true
              }"
              [mode]="'input'"
            ></app-input-field>
          </fieldset>
          </div>
      </form>
  </div>
</section>