.fila-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}

.audio {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.btn-guardar-cambios {
    margin-bottom: 5rem;

}


.datos-asociados {
    padding: 2rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
