<div id="edicion-contacto-category">
  <div id="datos-contacto">
    <app-title-and-subtitle
      [title]="'Datos del Contacto'"
      [subtitle]="'Ingrese el DNI del Contacto.'"
    ></app-title-and-subtitle>

      <form [formGroup]="contact_form">
        <div class="flex-container">
          <fieldset>
            <app-input-field
            label="DNI Contacto"
            placeholder="Ejemplo: 44450587"
            type="text"
            [hintLabel]="'8 dígitos'"
            [control]="dniControl"
            [validations]="{
              required: true,
              minLength: 8,
              maxLength: 8,
              pattern: '^[0-9]*$'
            }"
            [mode]="'input'"
          ></app-input-field>
          </fieldset>

          <button
            mat-raised-button
            color="primary"
            [disabled]="dniControl.invalid"
            (click)="findContact()"
          >
            Check
          </button>

          @if (errorMessageContact) {
          <button mat-button color="warn">
            <mat-icon fontIcon="close"></mat-icon>
            {{ errorMessageContact }}
          </button>
          } @else if (contactFounded) {
          <button mat-button color="accent">
            <mat-icon fontIcon="check"></mat-icon>
            Contacto existente.
          </button>
          }
        </div>

        <div class="flex-container mt-4">
          <fieldset>
            <app-input-field
              label="Nombre"
              placeholder="Ejemplo: Marcos"
              type="text"
              [control]="nameControl"
              [validations]="{ required: true }"
              [mode]="'input'"
            ></app-input-field>
          </fieldset>
          <fieldset>
            <app-input-field
              label="Apellido"
              placeholder="Ejemplo: Del Solar"
              type="text"
              [control]="lastnameControl"
              [validations]="{ required: true }"
              [mode]="'input'"
            ></app-input-field>
          </fieldset>
        </div>

    <app-btn-guardar-cambios
        [disabled]="contact_form.invalid || !contactFounded || btnControl"
        (clickEvent)="openDialog()" 
        [text]="'Guardar cambios'"
      ></app-btn-guardar-cambios>
      </form>
  </div>

</div>