
  
  .show-btn-container {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
  
  .selector {
    width: 250px;
  }



  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    min-width: 100%;
    padding: 2rem 1rem 1rem 1rem;
    margin-top: 1rem;
    border: 1px solid #c4c6d0;
    border-radius: 12px;
    min-height: 200px;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 1rem;
  }

  .empty-message {
    color: #888;
    font-size: 14px;
    text-align: center;
  }


  .block-wrapper {
    display: flex;
    align-items: center;
    gap: 0;
  }

  .block-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
  }
  

  .delete-btn {
    margin-bottom: 15px;
    cursor: pointer;
    color: #BA1A1A;
  }

.delete-btn:hover {
    color: #630E0E;
    transition: color 0.1s ease-out;
}