<mat-stepper orientation="vertical" linear="True" #stepper >
  <mat-step label="Datos Titular" completed="false" editable="false" #1>
<app-owner [crud]="'create'" (completed)="completed()" (ownerData)="completedOwner($event)"></app-owner>
    <div class="m-5"></div>
  </mat-step>
  <mat-step label="Datos Contacto" completed="false" #2 editable="false">
<app-contact [crud]="'create'" (completed)="completed()" (contactData)="completedContact($event)"></app-contact>
    <div class="m-5"></div>
  </mat-step>
  <mat-step label="Datos Comercio" #3 editable="false" completed="false" >
    <app-shop [crud]="'create'"[cuit]="owner?.cuit??''" (completed)="completed()"></app-shop>
    <div class="m-5"></div>
  </mat-step>
</mat-stepper>

