<h1 class="title">Alta de un nuevo comercio</h1>
<div class="flex flex-col items-center justify-center">
    <div>
        <mat-form-field [color]="coloring" class="mt-5">
            <mat-label>Cuit</mat-label>
            <div>
                <input matInput [(ngModel)]="cuit" maxlength="11" #cuitInput (ngModelChange)="onInput()" (keypress)="validateNumberInput($event)">
                <div class="asterisk">*</div>
            </div>
        </mat-form-field>
    </div>
    <div *ngIf="cuitInvalid" class="text-red-600 text-xs -mt-4 mb-3" color="warn" [innerHTML]="message">{{message}}</div>
    <div>
        <button mat-raised-button color="white" class="mr-2" (click)="redirectToHome()">Cancelar</button>
        <button mat-raised-button color="primary" class="ml-2" [disabled]="isButtonDisabled" (click)="verifyCuit()">Siguiente</button>
    </div>
</div>
