
<h1  class="text-center">Lista del Titular</h1>

<form  [formGroup]="form" class="flex flex-col items-center justify-center">
  <mat-form-field class="w-1/2">
    <mat-label>Cuit</mat-label>
    <input matInput formControlName="inputCuit" (ngModelChange)="onCuitChange()" maxlength="11" #iCuit>
  </mat-form-field>
  <div *ngIf="form.get('inputCuit')?.invalid && form.get('inputCuit')?.touched" class="text-red-600 text-xs -mt-4 mb-3 ml-8" color="warn">
    <mat-error *ngIf="form.get('inputCuit')?.errors?.['required']">* Requerido</mat-error>
    <mat-error *ngIf="form.get('inputCuit')?.errors?.['pattern']">* Solo números</mat-error>
    <mat-error *ngIf="form.get('inputCuit')?.errors?.['minlength']">* Debe tener 11 caracteres</mat-error>
  </div>
</form>
<div *ngIf="isUded==true" class="flex flex-col items-center justify-center">
  <p>Ese cuit ya se encuentra registrado con los siguientes datos:
  </p>
  <p> Razón social: {{name}}</p>
  <p> Condición fiscal: {{condition}}</p>
  <app-shop-list [cuit]="cuit"></app-shop-list>
</div>

<div *ngIf="isUded==false" class="flex flex-col items-center justify-center">
  <p>Ese cuit no se encuentra registrado</p>
</div>

