.btn-guardar-cambios {
    margin: 1rem 0;
}

@media(width <= 584px) {
    .btn-guardar-cambios {
        display: flex;
        justify-content: center;
    }
}

  .btn-animation {
    animation: positioning 0.5s cubic-bezier(0, 0.97, 0.4, 0.99);
  }


  @keyframes positioning {
    0% {
      height: 10px;
    }
    100% {
      height: 40px;
    }
  }