<div id="listado-publicitario">
    <div id="datos-listado-publicitario">
        <app-title-and-subtitle
      [title]="'Datos del Listado Publicitario'"
      [subtitle]="'Ingrese período de interés.'"
    ></app-title-and-subtitle>
    <form [formGroup]="list_form">
      <div class="fila-data">
        <fieldset>
          <app-input-field
            label="Fecha Desde"
            type="text"
            [control]="dateFromControl"
            [validations]="{ required: true }"
            [mode]="'date'"
          ></app-input-field>
        </fieldset>
        <fieldset>
          <app-input-field
            label="Fecha Hasta"
            type="text"
            [control]="dateToControl"
            [validations]="{ required: true }"
            [mode]="'date'"
          ></app-input-field>
        </fieldset>
      </div>

      <button
            mat-raised-button
            color="primary"
            [disabled]="list_form.invalid"
            (click)="findList()"
          >
            Siguiente
          </button>
    </form>
    </div>
  <div id="listado" style="display: flex; flex-direction: column; height: auto;">
    <div *ngFor="let group of groupedData" style="margin-bottom: 20px; height: auto;">
      <p class="my-4 text-lg text-gray-600">Día: {{ group.day }} - Bloque: {{ group.startTimeBlock }}</p>
      <app-data-table-dob [items]="group.items" [columns]="[
            { key:'index', label: 'Index'},
            {key: 'spotName', label:'Spot'},
            { key: 'fantasyName', label: 'Comercio' },
            { key: 'id', label: 'ID' },
            { key: 'order', label: 'Orden' },
          ]">
      </app-data-table-dob>
    </div>
  </div>
  </div>