#listado {
    display: flex;
    flex-direction: column;
}

#listado>div {
    margin-bottom: 20px;
}

#listado ::ng-deep app-data-table-dob {
    /* Estilos específicos para el componente hijo */
    margin-top: 0;
    padding: 0;
}