.tooltip-container {
    position: relative;
    display: inline-block;
    font-size: 9px;
    
  }
  
  .tooltip-text {
    visibility: hidden;
    background-color: rgb(60 60 60 / 0.8);
    color: white;
    text-align: left; /* Justificado a la izquierda */
    padding: 3px 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    top: 0%;
    left: 110%;
    width: 200px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  .tooltip-container.disabled .tooltip-text {
    display: none; /* Oculta el tooltip si está deshabilitado */
  }
  