<h1 class="text-center">Actualización Spot</h1>

<form *ngIf="isBlocksEmpty" class="flex flex-col items-center justify-center">
  <app-btn-degrade (click)="createBlocks()" [text]="'Crear Spots'"></app-btn-degrade>
</form>

<form *ngIf="!isBlocksEmpty" class="flex flex-col items-center justify-center">
  <mat-form-field hideRequiredMarker floatLabel="auto" class="w-1/2" [color]="coloring">
    <mat-select hideRequiredMarker required [(ngModel)]="selectedValue" name="selectedValue"
      (ngModelChange)="getHistory()" #inputBlock>
      <mat-option hideRequiredMarker *ngFor="let block of blocks" [value]="block">{{block.number}}</mat-option>
    </mat-select>
    <mat-error>* Requerido</mat-error>
    <mat-label><strong> Spot</strong></mat-label>
  </mat-form-field>

  <p *ngIf="selectedValue !== null && selectedValue !== undefined"> Hora inicio: {{selectedValue.startTime}}</p>
  <p *ngIf="selectedValue !== null && selectedValue !== undefined && last"> Ultima fecha actualizacion: {{last.startTime}}</p>
  <p *ngIf="selectedValue !== null && selectedValue !== undefined && last"> Precio Actual: {{last.precio}}</p> 
  <!-- Cuidado esto va a tener que cambiarse en el backend  no deberia ser precio si no price -->

  <mat-form-field hideRequiredMarker class="w-1/2" [color]="coloring">
    <mat-label>Nuevo precio</mat-label>
    <input matInput required name="newPrice" [(ngModel)]="newPrice" #inputPrice>
    <mat-error>* Requerido</mat-error>
  </mat-form-field>

  <div class="text-red-600 text-xs -mt-4 mb-3 ml-8" color="warn" *ngIf="isInvalid">*Por favor ingrese un bloque y precio válido.</div>

  <div>
    <button mat-raised-button (click)="redirectToHome()">Cancel</button>
    <span style="margin-left: 10px;"></span>
    <app-btn-degrade [disabled]="isCreateHistoryDisabled()" (click)="verify()">Submit</app-btn-degrade>
  </div>
</form>