<form class="mt-3" [formGroup]="updateTradeForm" (ngSubmit)="updateTrade()">
    <section id="comercio">
      <div class="m-5">
          <b class="text-lg">ACTUALIZACION DE COMERCIO</b>
      </div>
      <div class="m-4 flex flex-row items-center justify-left">
      
          <div class="inline-block ml-4 mr-4">
              <p class="text-3xs ml-10 text-left">CUIT TITULAR</p>
              <mat-form-field class="-mt-2 " appearance="outline">
                  <input matInput formControlName="CUIT">
              </mat-form-field>
          </div>
      
          <div class="inline-block ml-4 mr-4">
              <p class="text-3xs ml-10 text-left">NOMBRE FANTASIA COMERCIO</p>
              <mat-form-field class="-mt-2" appearance="outline">
                  <input matInput formControlName="fantasyName">
              </mat-form-field>
          </div>

        <div class="m-5">
          <button mat-raised-button color="primary" type="submit" [disabled]="updateTradeForm.invalid">ACEPTAR</button>
        </div>
  
    </div>
    </section>
  </form>