<h1 class="text-center">Nueva Orden</h1>

<form class="flex flex-col items-center justify-center">

  <mat-form-field hideRequiredMarker floatLabel="always" class="w-1/2" [color]="colorPalette">
    <mat-label>Número Contratación</mat-label>
    <!-- PEDIR AYUDA appearance="outline" -->
    <input matInput placeholder="Número de Contratación" required name="number" [(ngModel)]="number" #inputNumber>
  </mat-form-field>
  <mat-checkbox name="a" [(ngModel)]="same">Igual para todos los meses</mat-checkbox>

  <div class="overflow-x-auto" *ngIf="same">
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr>
          <th
            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Bloque</th>
          <th
            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Lunes</th>
          <th
            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Martes</th>
          <th
            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Miércoles</th>
          <th
            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Jueves</th>
          <th
            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Viernes</th>
          <th
            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Sábado</th>
          <th
            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Domingo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let block of data; let i = index">
          <td class="px-6 py-4 whitespace-no-wrap">{{block.startTime}}</td>
          <td class="px-6 py-4 whitespace-no-wrap">
            <mat-checkbox (change)="onCheckboxChange(i, 'Lunes')"></mat-checkbox>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap">
            <mat-checkbox (change)="onCheckboxChange(i, 'Martes')"></mat-checkbox>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap">
            <mat-checkbox (change)="onCheckboxChange(i, 'Miércoles')"></mat-checkbox>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap">
            <mat-checkbox (change)="onCheckboxChange(i, 'Jueves')"></mat-checkbox>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap">
            <mat-checkbox (change)="onCheckboxChange(i, 'Viernes')"></mat-checkbox>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap">
            <mat-checkbox (change)="onCheckboxChange(i, 'Sábado')"></mat-checkbox>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap">
            <mat-checkbox (change)="onCheckboxChange(i, 'Domingo')"></mat-checkbox>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="text-red-600 text-xs -mt-4 mb-3 ml-8" color="warn" *ngIf="isInvalid">
    *Por favor, ingrese un número de comercio válido y al menos un bloque.
  </div>
  <ng-container #container></ng-container>
  <div>
    <button mat-raised-button (click)="createDate()" *ngIf="!same">Añadir Fecha</button>

  </div>
  <div class="mt-4">
    <button mat-raised-button (click)="redirectToHome()">Cancelar</button>
    <span class="ml-4"></span>
    <app-btn-degrade [disabled]="isCreateContractDisabled()"> </app-btn-degrade>
  </div>
</form>