.datos-asociados {
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    cursor: default;
  
   p {
      text-decoration: underline;
      margin: 0;
    }
  
    .atributo {
      color: #005CBB;
    }
  
    &.inactivo {
      background-color: #F4F2F6;
      color: #BCBABF;
      cursor: not-allowed;
    }
  
    &:not(.inactivo) {
      background-color: #D7E3FF;
    }
  }
  


.atributo-valor {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}