<div id="alta-contacto-category">
  <div id="datos-contacto">
      <app-title-and-subtitle
        [title]="'Datos del Contacto'"
        [subtitle]="'Ingrese los datos del nuevo Contacto.'"
      ></app-title-and-subtitle>
  
        <form [formGroup]="contact_form">
          <div class="grid-container">
            <fieldset>
              <app-input-field
                label="DNI Contacto"
                placeholder="Ejemplo: 44450587"
                type="text"
                [hintLabel]="'8 dígitos'"
                [control]="dniControl"
                [validations]="{
                  required: true,
                  minLength: 8,
                  maxLength: 8,
                  pattern: '^[0-9]*$'
                }"
                [mode]="'input'"
                tooltipText="Documento Nacional de Identidad."
              ></app-input-field>
            </fieldset>
  
            <fieldset>
              <app-input-field
                label="Nombre"
                placeholder="Ejemplo: Marcos"
                type="text"
                [control]="nameControl"
                [validations]="{ required: true }"
                [mode]="'input'"
              ></app-input-field>
            </fieldset>
            <fieldset>
              <app-input-field
                label="Apellido"
                placeholder="Ejemplo: Del Solar"
                type="text"
                [control]="lastnameControl"
                [validations]="{ required: true }"
                [mode]="'input'"
              ></app-input-field>
            </fieldset>
          </div>

          <div class="mt-4">
            <app-input-contacts [(contacts)]="contacts"></app-input-contacts>
          </div>
          

        </form>

        <app-btn-guardar-cambios
        [disabled]="contact_form.invalid || (contacts.length===0)"
        (clickEvent)="openDialog()" 
        [text]="'Guardar cambios'"
      ></app-btn-guardar-cambios>
      
    </div>

</div>