/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html{
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

body{
  background-color: #FDFBFF;
  color: #000000;
}

.mdc-notched-outline__notch /*p solucionar bug de appearance="outline" del form-field*/ {
  border-right: none;
}


.unsuccess-snackbar {
  --mdc-snackbar-container-color: rgb(234, 41, 41);
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
  
  
}
