.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 100px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999;
  }
  
  .notification.show {
    opacity: 1;
  }
  
  .notification .text {
    font-size: 16px;
    position: absolute;
    top: 40%;
    left: 5%;
    right: 5%;
  }
  
  .notification .close-btn {
    position: absolute;
    scale: 0.8;
    top: 5px;
    right: 5px;
    color: #595959;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .notification .close-btn:hover {
    color: #0b2e13;
  }
  