<div id="edicion-bloque">
  <div id="datos-bloque">
    <app-title-and-subtitle
      [title]="'Datos del Bloque'"
      [subtitle]="'Ingrese el número del Bloque.'"
    ></app-title-and-subtitle>

    <form [formGroup]="block_form">
      <div class="fila-data">
        <!-- <fieldset>
          <app-input-field
            label="Nro. Bloque"
            [control]="numBlockControl"
            [validations]="{ required: true }"
            [mode]="'select'"
            [options]="blockTypes"
          ></app-input-field>
        </fieldset> -->
      <fieldset>
        <mat-form-field floatLabel="auto" class="w-full">
          <mat-label>Nro. Bloque</mat-label>
          <mat-select formControlName="numBlock" required (ngModelChange)="selectedBlock()"> 
            <mat-option *ngFor="let block of blocks" [value]="block">{{block.numBlock}}</mat-option>
          </mat-select>
        </mat-form-field>
      </fieldset>

        <div class="datos-asociados">
          <app-datos-asociados
            [datos]="[
              { atributo: 'Hora Inicio', valor: selectedValue?.startTime },
              { atributo: 'Precio Actual', valor: (last?.value ?? 'Sin precio').toString() },
              { atributo: 'Fecha de Actualización', valor:  (last?.formattedDate  ?? 'Sin actualizar').toString()}

            ]"
            [formularioValido]="block_form.valid"
            [cargando]="cargando"
          >
          </app-datos-asociados>
        </div>
      </div>
      <!-- <button
        mat-raised-button
        color="primary"
        [disabled]="block_form.invalid"
        (click)="siguiente()"
      >
        Siguiente
      </button> -->
    </form>
  </div>


<div id="datos-nuevo-bloque">
    <app-title-and-subtitle
      [title]="'Edición de Bloque'"
      [subtitle]="'Indique nuevo precio y fecha de vigencia para el Bloque.'"
    ></app-title-and-subtitle>

    <form [formGroup]="newBlock_form">
      <div class="fila-data">
        <app-input-field
            label="Precio"
            placeholder="Ejemplo: 1000"
            type="text"
            [control]="priceControl"
            [validations]="{ required: true }"
            [mode]="'input'"
          ></app-input-field>

          
          <fieldset>
            <app-input-field label="Fecha Vigencia" type="text" [control]="effectiveDateControl" [validations]="{ required: true }"
              [mode]="'date'"></app-input-field>
          </fieldset>

      </div>

      <button
        class="btn-guardar-cambios"
        mat-flat-button
        color="accent"
        [disabled]="!newBlock_form.valid || block_form.invalid"
        (click)="submit()"
      >
        Guardar cambios
      </button>
    </form>
  </div>
</div>
