.fila-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding-bottom: 15px;
}

.btn-guardar-cambios {
    margin-bottom: 5rem;

}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}