<div id="edicion-comercio-category">
  <div id="datos-titular-comercio">
    <app-title-and-subtitle
      [title]="'Datos del Titular y del Comercio'"
      [subtitle]="'Ingrese el CUIT del Titular y un Comercio.'"
    ></app-title-and-subtitle>

    <form [formGroup]="owner_shop_form" #osf="ngForm">
      <div class="flex-container">
        <fieldset>
          <app-input-field
            label="CUIT Titular"
            placeholder="Ejemplo: 25444505879"
            type="text"
            [hintLabel]="'11 dígitos'"
            [control]="cuitOwnerControl"
            [validations]="{
              required: true,
              minLength: 11,
              maxLength: 11,
              pattern: '^[0-9]*$'
            }"
            [mode]="'input'"
            tooltipText="'La Clave Única de Identificación Tributaria (CUIT) es un código de 11 dígitos que identifica a las personas físicas o jurídicas que tributan en Argentina.'"
          ></app-input-field>
        </fieldset>

        <span matTooltip="Ingrese un CUIT válido." [matTooltipDisabled]="!cuitOwnerControl.invalid" [matTooltipPosition]="'right'">
        <button
          mat-raised-button
          color="primary"
          [disabled]="cuitOwnerControl.invalid"
          (click)="findShopOwner()"
        >
          Check
        </button>
      </span>

        @if (errorMessageOwnerShop) {
        <button mat-button color="warn" class="pointer-events-none">
          <mat-icon fontIcon="close"></mat-icon>
          {{ errorMessageOwnerShop }}
        </button>
        } @else if (ownerShopFounded) {
        <button mat-button color="accent" class="pointer-events-none">
          <mat-icon fontIcon="check"></mat-icon>
          Titular existente.
        </button>
        }
      </div>

      <div class="flex-container mt-4">
        <fieldset>
          <app-input-field
            label="Comercio"
            [control]="comercioControl"
            [validations]="{ required: true }"
            [mode]="'select'"
            [options]="comercios"
            [selectedOption]="comercios[0]"
          ></app-input-field>
        </fieldset>
      </div>

      <span matTooltip="Complete los campos obligatorios (*)." [matTooltipDisabled]="owner_shop_form.valid && comercioControl.value!=='' && ownerShopFounded" [matTooltipPosition]="'right'">
      <button
      class="mb-4"
        mat-raised-button color="primary"
        [disabled]="!owner_shop_form.valid || comercioControl.value==='' || !ownerShopFounded"
        (click)="next()">   
        Siguiente
      </button>
    </span>
    </form>
  </div>

  

  <div *ngIf="nextStep" id="edicion-titular">
    <app-title-and-subtitle
      [title]="'Edición del Titular'"
      [subtitle]="'Modifique datos pertinentes del Titular.'"
    ></app-title-and-subtitle>
    <form [formGroup]="owner_form" #of="ngForm">
      <div class="grid-container">
        <fieldset>
          <app-input-field
            label="CUIT Titular"
            placeholder="Ejemplo: 25444505879"
            type="text"
            [hintLabel]="'11 dígitos'"
            [control]="cuitControl"
            [validations]="{
              required: true,
              minLength: 11,
              maxLength: 11,
              pattern: '^[0-9]*$'
            }"
            [mode]="'input'"
            [tooltipText]="'La Clave Única de Identificación Tributaria (CUIT) es un código de 11 dígitos que identifica a las personas físicas o jurídicas que tributan en Argentina.'"
          ></app-input-field>
        </fieldset>
        <fieldset>
          <app-input-field
            label="Razón Social"
            placeholder="Ejemplo: Juan Pérez"
            type="text"
            [control]="businessNameControl"
            [validations]="{ required: true }"
            [mode]="'input'"
            [tooltipText]="'Nombre legal completo de la empresa.'"
          ></app-input-field>
        </fieldset>
        <fieldset>
          <app-input-field
            label="Condición Fiscal"
            [control]="fiscalConditionControl"
            [validations]="{ required: true }"
            [mode]="'select'"
            [options]="fiscalConditionTypes"
            [tooltipText]="'Régimen fiscal de la empresa.'"
          ></app-input-field>
        </fieldset>
      </div>
    </form>
  </div>

  <div *ngIf="nextStep" id="edicion-contacto">
    <app-title-and-subtitle
      [title]="'Edición del Contacto'"
      [subtitle]="'Modifique datos pertinentes del Contacto.'"
    ></app-title-and-subtitle>
    <form [formGroup]="contact_form" #cf="ngForm">
      <div class="grid-container">
        <fieldset>
          <app-input-field
          label="DNI Contacto"
          placeholder="Ejemplo: 44450587"
          type="text"
          [hintLabel]="'8 dígitos'"
          [control]="dniControl"
          [validations]="{
            required: true,
            minLength: 8,
            maxLength: 8,
            pattern: '^[0-9]*$'
          }"
          [mode]="'input'"
          [tooltipText]="'Documento Nacional de Identidad.'"
        ></app-input-field>
        </fieldset>
        <fieldset>
          <app-input-field
            label="Nombre"
            placeholder="Ejemplo: Marcos"
            type="text"
            [control]="nameControl"
            [validations]="{ required: true }"
            [mode]="'input'"
          ></app-input-field>
        </fieldset>
        <fieldset>
          <app-input-field
            label="Apellido"
            placeholder="Ejemplo: Del Solar"
            type="text"
            [control]="lastnameControl"
            [validations]="{ required: true }"
            [mode]="'input'"
          ></app-input-field>
        </fieldset>
      </div>

      <div class="mt-4 mb-4">
        <app-input-contacts [(contacts)]="contacts" [disabled]="true"></app-input-contacts>
      </div>
    </form>
  </div>

  <div *ngIf="nextStep" id="edicion-comercio">
    <app-title-and-subtitle
      [title]="'Edición del Comercio'"
      [subtitle]="'Modifique datos pertinentes del Comercio.'"
    ></app-title-and-subtitle>
    <form [formGroup]="shop_form" #sf="ngForm">
      <div class="grid-container bt-4">
        <fieldset>
          <app-input-field
            label="Nombre Fantasía"
            placeholder="Ejemplo: Librería Normita"
            type="text"
            [control]="fantasyNameControl"
            [validations]="{ required: true }"
            [mode]="'input'"
          ></app-input-field>
        </fieldset>
        <fieldset>
          <app-input-field
            label="Dirección"
            placeholder="Ejemplo: Belgrano 67"
            type="text"
            [hintLabel]="'Incluya calle y altura'"
            [control]="addressControl"
            [validations]="{ required: true }"
            [mode]="'input'"
          ></app-input-field>
        </fieldset>
        <fieldset>
          <app-input-field
            label="Tipo Facturación"
            [control]="billingTypeControl"
            [validations]="{ required: true }"
            [mode]="'select'"
            [options]="billingTypes"
          ></app-input-field>
        </fieldset>
        <fieldset>
          <app-input-field
            label="Mail"
            placeholder="Ejemplo: normita@gmail.com"
            type="text"
            [control]="mailControl"
            [validations]="{ required: true }"
            [mode]="'input'"
          ></app-input-field>
        </fieldset>
        <fieldset>
          <app-input-field
            label="Forma Pago Habitual"
            [control]="usualPaymentFormControl"
            [validations]="{ required: true }"
            [mode]="'select'"
            [options]="usualPaymentForms"
          ></app-input-field>
        </fieldset>
        <fieldset>
          <app-input-field
            label="Tipo Comercio"
            [control]="typeControl"
            [validations]="{ required: true }"
            [mode]="'select'"
            [options]="shopTypes"
          ></app-input-field>
        </fieldset>
      </div>

      <app-btn-guardar-cambios
      [disabled]="shop_form.invalid || owner_form.invalid || contact_form.invalid || btnControl || (inputContactsComponent.contacts_form.get('contact')!.invalid && inputContactsComponent.contacts.length===0)"
      (clickEvent)="openDialog()" 
      [text]="'Guardar cambios'"
    ></app-btn-guardar-cambios>
    </form>
  </div>
  
</div>
