

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: auto;
  max-width: 790px;
  gap: 20px;

  button {
    width: 100px;
  }
}

@media(width < 1024px) {
  .grid-container {
    margin: 0 auto;
  }
}

.btn-guardar-cambios {
  margin-bottom: 5rem;
}

.btn-tel {
  scale: 1;
  transition: all 0.3s ease;
}

.tel {
  height: 20px;
  padding: 1px 2px;
  box-sizing: border-box;
  background-color: #d7e3ff;
  color: #005cbb;
  border-radius: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
