.grid-container {
  display: grid;
  width: 70%;
  gap: 2rem;

  button {
    width: 100px;
  }
}

fieldset {
  width: 100%;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (min-width: 426px) and (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

.btn-guardar-cambios {
  margin-bottom: 5rem;
}

.btn-tel {
  scale: 1;
  transition: all 0.3s ease;
}

.tel {
  height: 20px;
  padding: 1px 2px;
  box-sizing: border-box;
  background-color: #d7e3ff;
  color: #005cbb;
  border-radius: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
