<div id="alta-comercio-category">
  <div id="datos-titular">
    <app-title-and-subtitle
      [title]="'Datos del Titular'"
      [subtitle]="'Ingrese los datos del Titular.'"
    ></app-title-and-subtitle>

      <form [formGroup]="owner_form">
        <div class="grid-container">
          <fieldset>
            <app-input-field
              label="CUIT Titular"
              placeholder="Ejemplo: 25444505879"
              type="text"
              [hintLabel]="'11 dígitos'"
              [control]="cuitControl"
              [validations]="{
                required: true,
                minLength: 11,
                maxLength: 11,
                pattern: '^[0-9]*$'
              }"
              [mode]="'input'"
            ></app-input-field>
          </fieldset>
          <app-tooltip class="tooltip" [message]="'Ingrese un CUIT válido.'" [disabled]="cuitControl.valid">
          <button
            mat-raised-button
            color="primary"
            [disabled]="cuitControl.invalid"
            (click)="findOwner()"
          >
            Check
          </button>
          </app-tooltip>

          @if (errorMessageOwner) {
          <button mat-button color="warn">
            <mat-icon fontIcon="close"></mat-icon>
            {{ errorMessageOwner }}
          </button>
          } @else if (ownerFounded) {
          <button mat-button color="accent">
            <mat-icon fontIcon="check"></mat-icon>
            Titular existente.
          </button>
          }
        </div>

        <div class="grid-container">
          <fieldset>
            <app-input-field
              label="Razón Social"
              placeholder="Ejemplo: Juan Pérez"
              type="text"
              [control]="businessNameControl"
              [validations]="{ required: true }"
              [mode]="'input'"
            ></app-input-field>
          </fieldset>
          <fieldset>
            <app-input-field
              label="Condición Fiscal"
              [control]="fiscalConditionControl"
              [validations]="{ required: true }"
              [mode]="'select'"
              [options]="fiscalConditionTypes"
            ></app-input-field>
          </fieldset>
        </div>
      </form>
  </div>

  <div id="datos-contacto">
    <app-title-and-subtitle
      [title]="'Datos del Contacto'"
      [subtitle]="'Modifique datos pertinentes del Contacto.'"
    ></app-title-and-subtitle>
    <form [formGroup]="contact_form">
      <div class="grid-container">
        <fieldset>
          <app-input-field
            label="DNI"
            placeholder="Ejemplo: 44996266"
            type="text"
            [hintLabel]="'8 dígitos'"
            [control]="dniControl"
            [validations]="{
              required: true,
              minLength: 8,
              maxLength: 8,
              pattern: '^[0-9]*$'
            }"
            [mode]="'input'"
          ></app-input-field>
        </fieldset>

        <button
          mat-raised-button
          color="primary"
          [disabled]="dniControl.invalid"
          (click)="findContact()"
        >
          Check
        </button>

        @if (errorMessageContact) {
        <button mat-button color="warn">
          <mat-icon fontIcon="close"></mat-icon>
          {{ errorMessageContact }}
        </button>
        } @else if (contactFounded) {
        <button mat-button color="accent">
          <mat-icon fontIcon="check"></mat-icon>
          Contacto existente.
        </button>
        }
      </div>

      <div class="grid-container">
        <fieldset>
          <app-input-field
            label="Nombre"
            placeholder="Ejemplo: Juan"
            type="text"
            [control]="nameControl"
            [validations]="{ required: true }"
            [mode]="'input'"
          ></app-input-field>
        </fieldset>
        <fieldset>
          <app-input-field
            label="Apellido"
            placeholder="Ejemplo: Pérez"
            type="text"
            [control]="lastnameControl"
            [validations]="{ required: true }"
            [mode]="'input'"
          ></app-input-field>
        </fieldset>
      </div>
      <div class="grid-container">
        <fieldset>
          <app-input-field
            label="Teléfono(s) Contacto"
            placeholder="Ejemplo: 3402546820"
            type="number"
            [control]="contactsControl"
            [validations]="{ required: true }"
            [mode]="'input'"
          ></app-input-field>
        </fieldset>
        <button
          mat-stroked-button
          color="accent"
          [disabled]="contactsControl.invalid"
          [ngClass]="{
            'btn-tel': !contactsControl.invalid,
            'scale-90': contactsControl.invalid
          }"
          (click)="addContacts()"
        >
          <mat-icon>add</mat-icon> Añadir
        </button>

        @for (number of numbers; track $index) {
            <div class="tel">
              <mat-icon class="scale-50">phone</mat-icon>
              <span> {{ number }} </span>
              <mat-icon color="accent"  class="scale-50 cursor-pointer" (click)="removeContacts(number)">close</mat-icon>
            </div>
        }
        

      </div>
    </form>
  </div>

  <div id="datos-comercio">
    <app-title-and-subtitle
      [title]="'Datos del Comercio'"
      [subtitle]="'Modifique datos pertinentes del Comercio.'"
    ></app-title-and-subtitle>
    <form [formGroup]="shop_form">
      <div class="grid-container">
        <fieldset>
          <app-input-field
            label="Nombre Fantasía"
            placeholder="Ejemplo: Librería Normita"
            type="text"
            [control]="fantasyNameControl"
            [validations]="{ required: true }"
            [mode]="'input'"
          ></app-input-field>
        </fieldset>
        <fieldset>
          <app-input-field
            label="Dirección"
            placeholder="Ejemplo: Belgrano 67"
            type="text"
            [hintLabel]="'Incluya calle y altura'"
            [control]="addressControl"
            [validations]="{ required: true }"
            [mode]="'input'"
          ></app-input-field>
        </fieldset>
        <fieldset>
          <app-input-field
            label="Tipo Facturación"
            [control]="billingTypeControl"
            [validations]="{ required: true }"
            [mode]="'select'"
            [options]="billingTypes"
          ></app-input-field>
        </fieldset>
        <fieldset>
          <app-input-field
            label="Mail"
            placeholder="Ejemplo: normita@gmail.com"
            type="text"
            [control]="mailControl"
            [validations]="{ required: true }"
            [mode]="'input'"
          ></app-input-field>
        </fieldset>
        <fieldset>
          <app-input-field
            label="Forma Pago Habitual"
            [control]="usualPaymentFormControl"
            [validations]="{ required: true }"
            [mode]="'select'"
            [options]="usualPaymentForms"
          ></app-input-field>
        </fieldset>
        <fieldset>
          <app-input-field
            label="Tipo Comercio"
            [control]="typeControl"
            [validations]="{ required: true }"
            [mode]="'select'"
            [options]="shopTypes"
          ></app-input-field>
        </fieldset>
      </div>

      <button
        class="btn-guardar-cambios"
        mat-flat-button
        color="accent"
        [disabled]="
          !owner_form.valid || !shop_form.valid || !contact_form.valid
        "
        (click)="openDialog()"
      >
        Guardar cambios
      </button>
    </form>
</div>

</div>
