button {
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;

  &.coloring-deg {
    background: linear-gradient(to right, #673ab7, #b668ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -webkit-linear-gradient(to right, #673AB7, #b668ff); /* Chrome 10-25, Safari 5.1-6 */
  }

  &.disabled-background {
    background: #ccc;
    color: #666;
    cursor: not-allowed;
  }

  &:hover {
    transform: scale(1.05);
  }
}

