.coloring-deg {
  background: #8400FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #673AB7, #8400FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #673AB7, #8400FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;

  cursor: pointer;
  transition: all 0.3s ease;
}
.disabled-background {
  background: #ccc;
  /* Color de fondo gris cuando está deshabilitado */
  color: #666;
  /* Color de texto gris cuando está deshabilitado */
  cursor: not-allowed;
  /* Cursor de "no permitido" cuando está deshabilitado */
}