<!-- Display message when there are no trades -->
<p *ngIf="lastElements.length === 0">
  No hay comercios con los criterios requeridos
</p>

<!-- Display the cuit of the titular -->
<section id="titular" *ngIf="lastElements.length != 0">
  <div class="m-5">
    <b class="text-lg">Comercios de titular del cuit: {{ cuit }} </b>
  </div>
</section>

<!-- Table for displaying trades -->
<div id="table" *ngIf="lastElements.length != 0" class="h-auto">
  <!-- Filter input field -->
  <div class="p-5 h-auto">
<form [formGroup]="form" class="flex flex-wrap justify-start items-start" >

  <div class="w-full md:flex md:justify-start md:items-start mb-6">
    <mat-form-field class="w-full md:w-1/3 lg:w-3/6">
      <mat-label>Bloque</mat-label>
      <input matInput formControlName="inputfilter">
      <mat-error *ngIf="form.get('inputfilter')?.invalid && form.get('inputfilter')?.touched">
        <ng-container *ngIf="form.get('inputfilter')?.errors?.['pattern']">* Solo números</ng-container>
        <ng-container *ngIf="form.get('inputfilter')?.errors?.['min']">* Debe ser mayor o igual a 0</ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full md:w-1/3 lg:w-3/6">
      <mat-label>Precio mínimo</mat-label>
      <input matInput formControlName="inputMinPrice">
      <mat-error *ngIf="form.get('inputMinPrice')?.invalid && form.get('inputMinPrice')?.touched">
        <ng-container *ngIf="form.get('inputMinPrice')?.errors?.['pattern']">* Solo números</ng-container>
        <ng-container *ngIf="form.get('inputMinPrice')?.errors?.['min']">* Debe ser mayor o igual a 0</ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full md:w-1/3 lg:w-3/6">
      <mat-label>Precio máximo</mat-label>
      <input matInput formControlName="inputMaxPrice">
      <mat-error *ngIf="form.get('inputMaxPrice')?.invalid && form.get('inputMaxPrice')?.touched">
        <ng-container *ngIf="form.get('inputMaxPrice')?.errors?.['pattern']">* Solo números</ng-container>
        <ng-container *ngIf="form.get('inputMaxPrice')?.errors?.['min']">* Debe ser mayor o igual a 0</ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full md:w-1/3 lg:w-4/6">
      <mat-label>Fecha mínima</mat-label>
      <input matInput [matDatepicker]="minDatePicker" formControlName="inputMinDate">
      <mat-datepicker-toggle matSuffix [for]="minDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #minDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-full md:w-1/3 lg:w-4/6">
      <mat-label>Fecha máxima</mat-label>
      <input matInput [matDatepicker]="maxDatePicker" formControlName="inputMaxDate">
      <mat-datepicker-toggle matSuffix [for]="maxDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #maxDatePicker></mat-datepicker>
    </mat-form-field>

    <div class="w-full flex justify-start items-start mb-6">
      <app-btn-degrade [disabled]="form.invalid" [text]="'Filtrar'" (click)="filterTable()" class="ml-2 mt-2"></app-btn-degrade>
    </div>
  </div>

</form>




    <!-- Desktop view: Display trades in a table -->
    <div class="overflow-auto rounded-lg shadow hidden md:block">
      <table class="w-full" *ngIf="lastElements.length > 0">
        <!-- Table header -->
        <thead class="bg-gray-200 border-b-2 border-gray-200">
          <tr>
            <th (click)="marcarNegrita('block.numBlock')" (mouseenter)="entrada()" (mouseleave)="salida()"
              class="w-40 p-3 text-sm front-semibold tracking-wide text-left cursor-pointer">
              Numero de bloque
              <mat-icon #flechitaElement [style.visibility]="
                  entro || click == 1 || click == 2 ? 'visible' : 'hidden'
                " class="flechita" [ngClass]="{
                  negrita: textoMarcado,
                  entrada: entb,
                  salida: salb
                }">
                {{ click == 2 ? "south" : "north" }}
              </mat-icon>
            </th>

            <th (click)="marcarNegrita('block.startTime')" (mouseenter)="entrada()" (mouseleave)="salida()"
              class="w-40 p-3 text-sm front-semibold tracking-wide text-left cursor-pointer">
              Hora de inicio
              <mat-icon #flechitaElement [style.visibility]="
                  entro || click == 1 || click == 2 ? 'visible' : 'hidden'
                " class="flechita" [ngClass]="{
                  negrita: textoMarcado,
                  entrada: entb,
                  salida: salb
                }">
                {{ click == 2 ? "south" : "north" }}
              </mat-icon>
            </th>

            <th (click)="marcarNegrita('value')" (mouseenter)="entrada()" (mouseleave)="salida()"
              class="w-40 p-3 text-sm front-semibold tracking-wide text-left cursor-pointer">
              Precio
              <mat-icon #flechitaElement [style.visibility]="
                  entro || click == 1 || click == 2 ? 'visible' : 'hidden'
                " class="flechita" [ngClass]="{
                  negrita: textoMarcado,
                  entrada: entb,
                  salida: salb
                }">
                {{ click == 2 ? "south" : "north" }}
              </mat-icon>
            </th>

            <th (click)="marcarNegrita('regDate')" (mouseenter)="entrada()" (mouseleave)="salida()"
              class="w-40 p-3 text-sm front-semibold tracking-wide text-left cursor-pointer">
              Fecha Actualización
              <mat-icon #flechitaElement [style.visibility]="
                  entro || click == 1 || click == 2 ? 'visible' : 'hidden'
                " class="flechita" [ngClass]="{
                  negrita: textoMarcado,
                  entrada: entb,
                  salida: salb
                }">
                {{ click == 2 ? "south" : "north" }}
              </mat-icon>
            </th>
          </tr>
        </thead>
        <!-- Table body -->
        <tbody class="divide-y divide-gray-100">
          <tr *ngFor="let trade of lastElements" class="bg-white">
            <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
              {{ trade.block.numBlock }}
            </td>
            <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
              {{ trade.block.startTime }}
            </td>
            <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
              {{ trade.value }}
            </td>
            <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
              {{ trade.regDate }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Mobile view: Display trades as cards -->
    <div *ngIf="lastElements.length > 0" class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:hidden">
      <div id="tarjetas" *ngFor="let trade of lastElements" class="bg-white space-y-2 p-4 rounded-lg shadow relative">
        <div class="flex items-center space-x-2 text-sm">
          <div>
            <a href="#" class="text-blue font-bold hover:underline">Nro: {{ trade.block.numBlock }}</a>
          </div>
          <div class="text-gray-500">{{ trade.block.startTime }}</div>
        </div>

        <ng-container *ngIf="visibleContent[trade.block.numBlock]">
          <div class="text-sm text-gray-700">
            <a href="#" class="font-bold text-blue-500 hover:underline">${{ trade.value }}</a>
          </div>
          <div class="text-sm text-gray-700">{{ trade.regDate }}</div>
          <!-- <div class="text-sm font-medium text-black">{{ trade.id }}</div>
      <div class="text-sm font-medium text-black">{{ trade.idBlock }}</div> -->
        </ng-container>


        <button id="flechita" *ngIf="isScreenSmall()" (click)="toggleCardContent(trade)"
          class="absolute top-0 right-0 p-2 focus:outline-none group"
          [@rotateArrow]="visibleContent[trade.block.numBlock] ? 'up' : 'down'">
          <mat-icon class="text-gray-500">expand_more</mat-icon>
        </button>
      </div>
    </div>

  </div>
</div>