<body>
    <header class="container">
        <div class="content">
            <span class="blur"></span>
            <h4>CREATE YOUR SITE LIKE A PRO</h4>
            <H1>Radio <span>ONLINE</span></H1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus rem eos aliquid quo rerum
                temporibus ipsum distinctio numquam ut omnis placeat, nam sint atque quos dolorem laborum? Rerum, esse
                dolorem.
            </p>
            <app-btn-degrade [text]="'Get Started'"></app-btn-degrade>
        </div>
        <div class="image">
            <img src="../../assets/test.png" alt="Descripción de la imagen">
        </div>
    </header>

    <footer class="container">
        <div class="column">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <div class="socials">
                <a href="#"><mat-icon color="primary">mark_unread_chat_alt</mat-icon></a>
                <a href="#"><mat-icon color="primary">call</mat-icon></a>
                <a href="#"><mat-icon color="primary">notifications</mat-icon></a>
            </div>
        </div>
        <div class="column">
            <h4>Company</h4>
            <a href="#">Business</a>
            <a href="#">Partnership</a>
            <a href="#">Network</a>
        </div>
        <div class="column">
            <h4>About Us</h4>
            <a href="#">Blogs</a>
            <a href="#">Channels</a>
            <a href="#">Sponsors</a>
        </div>
        <div class="column">
            <h4>Contact</h4>
            <a href="#">Contact Us</a>
            <a href="#">Privicy Policy</a>
            <a href="#">Terms & Conditions</a>
        </div>
    </footer>

</body>