<body>
    <header class="container">
        <div class="content">
            <span class="blur"></span>
            <h4>¡BIENVENIDO A ASUNCION 90.7!</h4>
            <H1>Radio <span>ONLINE</span></H1>
            <p>
                ¿Tu marca ya formó parte de nuestra sintonía?
                En nuestra radio, cada nota es una oportunidad para hacer tu marca resonar. ¡Anúnciate y deja
                que tu mensaje llegue a miles de oyentes!
            </p>
            <!-- <app-btn-degrade [text]="'Comenzar'" (click)="redirectToLogin()"></app-btn-degrade> -->
            <div class="btn-comenzar" (click)="redirectToLogin()">
                <dotlottie-player
                    src="https://lottie.host/085e049d-09cc-4ddb-adfb-5aca84ba7144/h6E4JMusRn.lottie"
                    background="transparent"
                    speed="1"
                    style="width: 300px; height: 300px"
                    loop
                    autoplay
                ></dotlottie-player>
            </div>
            
        </div>
        <div class="image">
            <dotlottie-player
              src="https://lottie.host/3c4c9d3d-3801-4199-929a-edd13026ccd4/bGlaG7ZGYQ.lottie"
              background="transparent"
              speed="1"
              style="width: 300px; height: 300px"
              loop
              autoplay>
            </dotlottie-player> <!--se agregó un script en index.html-->
          </div>
    </header>

    <footer class="container">
        <div class="column">
            <p>
                ¡Únete a nuestra comunidad en redes sociales!
            </p>
            <div class="socials">
                <a href="#"><mat-icon color="primary">mark_unread_chat_alt</mat-icon></a>
                <a href="#"><mat-icon color="primary">call</mat-icon></a>
                <a href="#"><mat-icon color="primary">notifications</mat-icon></a>
            </div>
        </div>
        <div class="column">
            <h4>Organización</h4>
            <a href="#">Empresa</a>
            <a href="#">Asociación</a>
            <a href="#">Red</a>
        </div>
        <div class="column">
            <h4>Sobre nosotros</h4>
            <a href="#">Blogs</a>
            <a href="#">Canales</a>
            <a href="#">Sponsors</a>
        </div>
        <div class="column">
            <h4>Contacto</h4>
            <a href="#">Contáctanos</a>
            <a href="#">Política de privacidad</a>
            <a href="#">Términos y condiciones</a>
        </div>
    </footer>

</body>