<section id="titular">
    <div class="m-5">
        <b class="text-lg">TITULAR</b>
    </div>
    <div class="m-4 flex flex-row items-center justify-left">
    
        <div class="inline-block ml-4 mr-4">
            <p class="text-3xs ml-10 text-left">CUIT</p>
            <mat-form-field class="-mt-2 " appearance="outline">
                <input matInput [value]="cuit" readonly>
            </mat-form-field>
        </div>
    
        <div class="inline-block ml-4 mr-4">
            <p class="text-3xs ml-10 text-left">RAZON SOCIAL</p>
            <mat-form-field class="-mt-2" appearance="outline">
                <input matInput [value]="businessName" readonly>
            </mat-form-field>
        </div>
    
        <div class="inline-block ml-4 mr-4">
          <p class="text-3xs ml-10 text-left">CONDICION FISCAL</p>
          <mat-form-field class="-mt-2" appearance="outline">
              <input matInput [value]="fiscalCondition" readonly>
          </mat-form-field>
      </div>


    </div>
</section>




<div id="table">
  <div class="p-5 h-screen">

    <div class="mb-2 text-center md:text-left">
      <b class="text-lg">COMERCIOS DEL TITULAR</b>
    </div>    

    <div class="overflow-auto rounded-lg shadow hidden md:block">
      <table class="w-full">
        <thead class="bg-gray-400 border-b-2 border-gray-400">

          <tr>
            <td colspan="8" class="p-3 text-sm">
              <div class="flex items-center">
                  <div class="bg-gray-100 p-2 rounded-md flex" style="min-width: 100px;">
                    <mat-icon class="mr-2">search</mat-icon>
                    <input
                      [(ngModel)]="inputfilter"
                      (input)="filterTable()"
                      [disabled]="allShops.length === 0"
                      class="w-48 bg-gray-100 outline-none"
                      placeholder="Buscar comercio"/>
                  </div>
                </div>
              </td>
          </tr>
                
          <tr>

            <th class="w-10 p-3 text-sm front-semibold tracking-wide text-left">
              #
            </th>

            <th (click)="marcarNegrita('fantasyName')" (mouseenter)="input()" (mouseleave)="output()" class="w-40 p-3 text-sm front-semibold tracking-wide text-left cursor-pointer">
              Nombre fantasía
              <mat-icon #flechitaElement [style.visibility]="enter || click == 1 || click == 2 ? 'visible' : 'hidden'" class="flechita" [ngClass]="{'negrita': (click == 1 || click == 2) && column == 'fantasyName', 'input': entb, 'output': salb}">
                {{ click == 2 ? 'south' : 'north' }}
              </mat-icon>
            </th>

            <th (click)="marcarNegrita('address')" (mouseenter)="input()" (mouseleave)="output()" class="w-40 p-3 text-sm front-semibold tracking-wide text-left cursor-pointer">
              Dirección
              <mat-icon #flechitaElement [style.visibility]="enter || click == 1 || click == 2 ? 'visible' : 'hidden'" class="flechita" [ngClass]="{'negrita': (click == 1 || click == 2) && column == 'address', 'input': entb, 'output': salb}">
                {{ click == 2 ? 'south' : 'north' }}
              </mat-icon>
            </th>

            <th (click)="marcarNegrita('billingType')" (mouseenter)="input()" (mouseleave)="output()" class="w-40 p-3 text-sm front-semibold tracking-wide text-left cursor-pointer">
              Tipo facturación
              <mat-icon #flechitaElement [style.visibility]="enter || click == 1 || click == 2 ? 'visible' : 'hidden'" class="flechita" [ngClass]="{'negrita': (click == 1 || click == 2) && column == 'billingType', 'input': entb, 'output': salb}">
                {{ click == 2 ? 'south' : 'north' }}
              </mat-icon>
            </th>

            <th (click)="marcarNegrita('mail')" (mouseenter)="input()" (mouseleave)="output()" class="w-40 p-3 text-sm front-semibold tracking-wide text-left cursor-pointer">
              Email
              <mat-icon #flechitaElement [style.visibility]="enter || click == 1 || click == 2 ? 'visible' : 'hidden'" class="flechita" [ngClass]="{'negrita': (click == 1 || click == 2) && column == 'mail', 'input': entb, 'output': salb}">
                {{ click == 2 ? 'south' : 'north' }}
              </mat-icon>
            </th>

            <th (click)="marcarNegrita('usualPaymentForm')" (mouseenter)="input()" (mouseleave)="output()" class="w-40 p-3 text-sm front-semibold tracking-wide text-left cursor-pointer">
              Forma pago
              <mat-icon #flechitaElement [style.visibility]="enter || click == 1 || click == 2 ? 'visible' : 'hidden'" class="flechita" [ngClass]="{'negrita': (click == 1 || click == 2) && column == 'usualPaymentForm', 'input': entb, 'output': salb}">
                {{ click == 2 ? 'south' : 'north' }}
              </mat-icon>
            </th>

            <th (click)="marcarNegrita('type')" (mouseenter)="input()" (mouseleave)="output()" class="w-20 p-3 text-sm front-semibold tracking-wide text-left cursor-pointer">
              Tipo
              <mat-icon #flechitaElement [style.visibility]="enter || click == 1 || click == 2 ? 'visible' : 'hidden'" class="flechita" [ngClass]="{'negrita': (click == 1 || click == 2) && column == 'type', 'input': entb, 'output': salb}">
                {{ click == 2 ? 'south' : 'north' }}
              </mat-icon>
            </th>

            <th class="w-10 p-3 text-sm front-semibold tracking-wide text-left"></th>

          </tr>
        </thead>
  
        <tbody class="divide-y divide-gray-100">
          <ng-container *ngIf="shops.length > 0; else noShopsTemplate">
            <ng-container *ngFor="let shop of shops; let i = index">
              <tr [class.bg-white]="i % 2 !== 0" [class.bg-gray-100]="i % 2 === 0">

                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{i+1}}</td>

                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{shop.fantasyName}}</td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{shop.address}}</td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{shop.billingType}}</td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                  <a href="" class="font-bold text-blue-500 hover:underline">{{shop.mail}}</a>
                </td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{shop.usualPaymentForm}}</td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                  <span [ngClass]="{
                    'bg-violet-400 text-violet-800': shop.type === 'Empresa',
                    'bg-green-400 text-green-800': shop.type === 'PyME',
                    'bg-gray-400 text-black': shop.type === 'Otro'
                  }" 
                  class="p-1.5 text-xs font-medium uppercase tracking-wider rounded-lg bg-opacity-50">
                  {{shop.type}}</span>
                </td>

                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                  <button mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon>
                  </button>

                  <button mat-icon-button color="warn" (click)="confirmDelete(shops[i])">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>

              </tr>
            </ng-container>
          </ng-container>
              
          <ng-template #noShopsTemplate>
            <tr class="bg-white">
              <td colspan="8" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{messageAboutShops}}</td>
            </tr>
          </ng-template>
        </tbody>

      </table>
    </div>

    <div *ngIf="shops.length > 0" class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:hidden">
      <div id="tarjetas" *ngFor="let shop of shops; let i = index" class="bg-white space-y-2 p-4 rounded-lg shadow relative">
        <div class="flex items-center space-x-2 text-sm">
          <div>
            <a href="#" class="text-blue font-bold hover:underline">{{shop.fantasyName}}</a>
          </div>
          <div class="text-gray-500">{{shop.address}}</div>
          <div>
            <span [ngClass]="{
              'bg-violet-400 text-violet-800': shop.type === 'Empresa',
              'bg-green-400 text-green-800': shop.type === 'PyME',
              'bg-gray-400 text-black': shop.type === 'Otro'
            }" class="p-1.5 text-xs font-medium uppercase tracking-wider rounded-lg bg-opacity-50">
            {{shop.type}}</span>
          </div>
        </div>
      
        <div *ngIf="visibleContent[shop.fantasyName] || band " class="text-sm text-gray-700">
          <a href="#" class="font-bold text-blue-500 hover:underline">{{shop.mail}}</a>
        </div>
      
        <div *ngIf="visibleContent[shop.fantasyName] || band" class="text-sm text-gray-700">
          {{shop.billingType}}
        </div>

        <div *ngIf="visibleContent[shop.fantasyName] || band" class="text-sm font-medium text-black">
          {{shop.usualPaymentForm}}
        </div>

        <div class="absolute top-20 right-0 p-2 focus:outline-none group">

            <button mat-icon-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="confirmDelete(shops[i])">
              <mat-icon>delete</mat-icon>
            </button>

        </div>
      
        <button
          id="flechita"
          *ngIf="isScreenSmall()"
          (click)="toggleCardContent(shop)"
          class="absolute top-0 right-0 p-2 focus:outline-none group"
          [@rotateArrow]="visibleContent[shop.fantasyName] ? 'up' : 'down'"
        >
          <mat-icon class="text-gray-500">expand_more</mat-icon>
        </button>

      </div>
    </div> 
  </div>
</div>





<div class="m-5">
  <app-btn-degrade [text]="'Nuevo Comercio'" (click)="showNewShop()"></app-btn-degrade>
</div>



<form class="mt-3" [formGroup]="shopForm" (ngSubmit)="verifyNameFantasy()">
  <section id="nuevoComercio" *ngIf="showingNewShop">

    <div class="m-5">
        <b class="text-lg">NUEVO COMERCIO</b>
    </div>
  
    <div class="inline-block ml-4 mr-4">
      <div>
        <mat-form-field [color]="coloring">
          <mat-label>Nombre fantasia</mat-label>
            <div>
              <input matInput #fantasyNameInputRef formControlName="fantasyName">
            </div>
          </mat-form-field>
      </div>
      <div *ngIf="fantasyNameInvalid" class="text-red-600 text-xs -mt-4 mb-3" color="warn" [innerHTML]="message">{{message}}</div>
      
      <div>
        <mat-form-field [color]="coloring">
          <mat-label>Direccion</mat-label>
            <div>
              <input matInput formControlName="address">
            </div>
            <mat-error *ngIf="shopForm.get('address')?.invalid">{{alertUser()}}</mat-error>
          </mat-form-field>
      </div>
  
      <div>
        <mat-form-field [color]="coloring">
          <mat-label>Tipo facturación</mat-label>
          <mat-select formControlName="billingType">
            <mat-option value="Responsable Inscripto">Responsable Inscripto</mat-option>
            <mat-option value="Monotributo">Monotributo</mat-option>
            <mat-option value="Otro">Otro</mat-option>
          </mat-select>
          <mat-error *ngIf="shopForm.get('billingType')?.invalid">{{alertUser()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field [color]="coloring">
          <mat-label>Mail</mat-label>
            <div>
              <input matInput formControlName="mail">
            </div>
            <mat-error *ngIf="shopForm.get('mail')?.invalid">{{getMailErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field [color]="coloring">
          <mat-label>Forma de pago usual</mat-label>
          <mat-select formControlName="usualPaymentForm">
            <mat-option value="Efectivo">Efectivo</mat-option>
            <mat-option value="Tarjeta de Crédito">Tarjeta de Crédito</mat-option>
            <mat-option value="Tarjeta de Débito">Tarjeta de Débito</mat-option>
            <mat-option value="Cheque">Cheque</mat-option>
            <mat-option value="Otro">Otro</mat-option>
          </mat-select>
          <mat-error *ngIf="shopForm.get('usualPaymentForm')?.invalid">{{alertUser()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field [color]="coloring">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="type">
            <mat-option value="Empresa">Empresa</mat-option>
            <mat-option value="PyME">PyME</mat-option>
            <mat-option value="Otro">Otro</mat-option>
          </mat-select>
          <mat-error *ngIf="shopForm.get('type')?.invalid">{{alertUser()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div>
        <app-btn-degrade type="submit" [disabled]="shopForm.invalid" [text]="'Continuar'"></app-btn-degrade>
      </div>
  
    </div>
  </section>
</form>

<section id="comercio" *ngIf="continueNewShop">
  <div class="m-5">
      <b class="text-lg">CONTACTO</b>
  </div>
  <div class="m-4 flex flex-row items-center justify-left">
  
      <div class="inline-block ml-4 mr-4">
          <p class="text-3xs ml-10 text-left">NOMBRE</p>
          <mat-form-field class="-mt-2 " appearance="outline">
              <input matInput>
          </mat-form-field>
      </div>
  
      <div class="inline-block ml-4 mr-4">
          <p class="text-3xs ml-10 text-left">APELLIDO</p>
          <mat-form-field class="-mt-2" appearance="outline">
              <input matInput>
          </mat-form-field>
      </div>
  
      <div class="inline-block ml-4 mr-4">
        <p class="text-3xs ml-10 text-left">DNI</p>
        <mat-form-field class="-mt-2" appearance="outline">
            <input matInput>
        </mat-form-field>
    </div>
  </div>
  <div class="m-4 flex flex-row items-center justify-left">
  
    <div class="inline-block ml-4 mr-4">
        <p class="text-3xs ml-10 text-left">TELEFONO</p>
        <mat-form-field class="-mt-2 " appearance="outline">
            <input matInput>
        </mat-form-field>
    </div>

    <div class="inline-block ml-4 mr-4">
        <p class="text-3xs ml-10 text-left">MAIL</p>
        <mat-form-field class="-mt-2" appearance="outline">
            <input matInput>
        </mat-form-field>
    </div>

    

</div>
</section>
